<!-- 
 * 二维码推广
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://www.fylesson.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件，未购买授权用户无论是否用于商业行为都是侵权行为！
 * 允许已购买用户对程序代码进行修改并在授权域名下使用，但是不允许对程序代码以
 * 任何形式任何目的进行二次发售，作者将依法保留追究法律责任的权力和最终解释权。
 * ============================================================================
-->
{template $template.'/_headerv2'}
<link href="{MODULE_URL}template/mobile/{$template}/style/cssv2/commission.css?v={$versions}" rel="stylesheet" />

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

<div id="loading" style="display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:100000000;"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

<div class="sharecard__entry-global" style="top:50px;" onclick="location.href='{php echo $this->createMobileUrl('qrcode', array('poster_no'=>$poster_no+1));}'">
	<div class="sharecard__entry" id="cut-style">
		<div class="sharecard__entry-icon">
			<img src="{MODULE_URL}template/mobile/{$template}/images/poster-refresh.png" />
		</div>
		换个样式
	</div>
</div>

<div style="min-height:100%;">
	<!-- 系统生成图片 -->
	<div class="qrcode_img">
		<img src="{$imagepath}" />
	</div>
	<!-- /系统生成图片 -->

	<!-- 分销提示 -->
	{if !empty($sale_desc)}
	<div class="qrcode_info">
		<div class="title">
			<div class="ico"><i class="fa fa-cubes"></i></div>
			<div class="text">{$sale_desc[0]}</div>
		</div>
		<div class="con">
			{loop $sale_desc $key $item}
			{if $key>0}
			<div class="line">
				<div class="t2">
					<div class="t3">{$item}</div>
				</div>
			</div>
			{/if}
			{/loop}
		</div>
	</div>
	{/if}
	<!-- /分销提示 -->
</div>

<script type="text/javascript">
	var loading = document.getElementById("loading");
	$("#cut-style").click(function(){
		loading.style.display = 'block';
	});
</script>

<script type="text/javascript">
wx.ready(function(){
	var shareData = {
		title: "{$sharelink['title']}",
		desc: "{$sharelink['desc']}",
		link: "{$shareurl}",
		imgUrl: "{$_W['attachurl']}{$sharelink['images']}",
		trigger: function (res) {},
		complete: function (res) {},
		success: function (res) {},
		cancel: function (res) {},
		fail: function (res) {}
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
	wx.onMenuShareQQ(shareData);
	wx.onMenuShareWeibo(shareData);
	wx.onMenuShareQZone(shareData);
	
});

</script>

{template $template.'/_footerv2'}