<!--
 * 佣金明细
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com；
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！已购买用户允许对程序代码进行修改和使用，但是不允许对
 * 程序代码以任何形式任何目的的再发布，作者将保留追究法律责任的权力和最终解
 * 释权。
 * ============================================================================
-->
{template '_headerv2'}
<link href="{MODULE_URL}template/mobile/style/cssv2/incomelog.css?v={$versions}" rel="stylesheet" />

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

{if empty($list)}
	<div class="my_empty">
		<div class="empty_bd  my_course_empty">
		    <h3>您还没有佣金明细哦~</h3>
		</div>
	</div>
{else}
	<div id="container">
	</div>
	<div id="loading_div" class="loading_div">
		<a href="javascript:void(0);" id="btn_Page"><i class="fa fa-arrow-circle-down"></i> 加载更多</a>
	</div>
{/if}
<footer>
    <a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
</footer>
	
<div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:9999;"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

<script type="text/javascript">
var ajaxurl   = "{php echo $this->createMobileUrl('income');}";
var loading = document.getElementById("loading");
$(function () {
    var nowPage = 1; //设置当前页数，全局变量
    function getData(page) {  
        nowPage++; //页码自动增加，保证下次调用时为新的一页。  
        $.get(ajaxurl, {page: page }, function (data) {  
            if (data.length > 0) {
				loading.style.display = 'none';
                var jsonObj = JSON.parse(data);
                insertDiv(jsonObj);  
            }
        });  
       
    } 
    //初始化加载第一页数据  
    getData(1);

    //生成数据html,append到div中  
    function insertDiv(result) {
        var mainDiv =$("#container");
        var chtml = '';
        for (var j = 0; j < result.length; j++) {  
            chtml += '<div class="lesson_income_list">';  
            chtml += '	<div class="left">'; 
			chtml += '		<div class="inner">';
			if(result[j].ordersn != 0){
				chtml += '			订单编号：' + result[j].ordersn;
			}else{
				chtml += '			订单编号：无';
			}
			chtml += '			<br/>';
			chtml += '			<span>课程名称：'+ result[j].bookname + '</span>';
			chtml += '			<br/>';
			chtml += '			<span>' + result[j].remark + '</span>';
			chtml += '		</div>';
			chtml += '	</div>';
			chtml += '	<div class="right"><span>+' + result[j].income_amount + '<br/><br/></span>' + result[j].addtime + '</div>';
			chtml += '</div>'; 
        }
		mainDiv.append(chtml);
		if(result.length==0){
			document.getElementById("loading_div").innerHTML='<div class="loading_bd">没有了，已经到底啦</div>';
		}
    }
  
    //==============核心代码=============  
    var winH = $(window).height(); //页面可视区域高度   
  
    var scrollHandler = function () {  
        var pageH = $(document.body).height();  
        var scrollT = $(window).scrollTop(); //滚动条top   
        var aa = (pageH - winH - scrollT) / winH;  
        if (aa < 0.02) { 
            if (nowPage % 1 === 0) {
                getData(nowPage);  
                $(window).unbind('scroll');  
                $("#btn_Page").show();
            } else {  
                getData(nowPage);  
                $("#btn_Page").hide();
            }  
        }  
    }  
    //定义鼠标滚动事件
    $(window).scroll(scrollHandler);
    //继续加载按钮事件
    $("#btn_Page").click(function () {
		loading.style.display = 'block';
        getData(nowPage);
        $(window).scroll(scrollHandler);
    });
  
});  
</script>

{template '_footerv2'}