<!-- 
 * 课程详情页
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
-->
{template '_headerv2'}
<link href="{MODULE_URL}template/mobile/style/cssv2/qunService.css?v={$versions}" rel="stylesheet" />
<link href="{MODULE_URL}template/mobile/style/cssv2/lesson.css?v={$versions}" rel="stylesheet" />

<style>
.fylesson_audio{width:98%; margin:0 auto 0 auto; padding:20px 0;}
.fylesson_audio p{padding:10px 0}
</style>

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

{if $poster_config['images'] && $commisson1_amount && $comsetting['is_sale'] && !$sectionid}
<!-- 赚取佣金 S -->
<div class="sharecard__entry-global" style="top:50px;" onclick="location.href='{php echo $this->createMobileUrl('lessonqrcode', array('lessonid'=>$id));}'">
	<div class="sharecard__entry">
		<div class="sharecard__entry-icon">
			<img src="{MODULE_URL}template/mobile/images/lesson-money.png" />
		</div>
		赚{$commisson1_amount}元
	</div>
</div>
<!-- 赚取佣金 E -->
{/if}

<div class="content-inner" style="min-height:100%;">
	<!-- 视频区域 S -->
	<input type="hidden" id="realPlayTime" value="0" />
	<div class="video-wrap">
		{if $_GPC['sectionid']>0}
			{if $section['sectiontype']==1}
				{if $section['savetype']==2}
					<!-- 内嵌代码方式 -->
					{php echo htmlspecialchars_decode($section['videourl']);}
				{elseif $section['savetype']==4}
					<!-- 阿里云点播 -->
					<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
					<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
					<div class="prism-player" id="J_prismPlayer"></div>
					<script>
						var player = new Aliplayer({
							id: "J_prismPlayer",
							autoplay: false,
							isLive:false,
							playsinline:true,
							width:"100%",
							height:"240px",
							controlBarVisibility:"click",
							showBarTime:"3000",
							useH5Prism:false,
							useFlashPrism:false,
							x5_type:"",
							x5_video_position:"top",
							vid: "<?php echo $section['videourl']; ?>",
							playauth: "<?php echo $playAuth; ?>",
							cover:"",
							<?php if($audio){ ?>
								mediaType: "audio",
							<?php } ?>
						});

						var playing    = false; /* 播放状态 */
						var submiting  = false; /* 提交状态 */
						var space_time = 60;    /* 提交间隔(秒) */
						var realPlayTime = document.getElementById("realPlayTime").value;
						var recordurl = "{php echo $this->createMobileUrl('record', array('lessonid'=>$_GPC['id'],'sectionid'=>$_GPC['sectionid'],'uid'=>$uid,'sectiontype'=>$section['sectiontype']));}";

						var playVideo = function(){
							playing = true;
						}
						var pauseVideo = function(){
							playing = false;
						}
						var timeUpdate = function(){
							//间隔指定时间记录一次播放时间
							var currentTime = Math.floor(player.getCurrentTime());
							if(currentTime>0 && currentTime%space_time==0 && !submiting){
								submiting = true;
								$.get(recordurl, {currentTime:currentTime}, function (data){});
								setTimeout(function(){
									submiting = false;
								},1000);
							}

							<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
							var test_time = {php echo $section['test_time'];};
							var plays = {php echo $plays ? 1: 0;};
							if(currentTime >= test_time && !plays && playing){
								player.pause();
								playing = false;
								alert("试听已结束，观看完整版本请购买");
								location.reload();
							}
							<?php } ?>
						}
						var ended = function(e){
							var currentTime = Math.floor(player.getDuration());
							$.get(recordurl, {currentTime:currentTime}, function (data){});
							$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
							location.reload();
						}

						player.on('play', playVideo);
						player.on('pause', pauseVideo);
						player.on('timeupdate', timeUpdate);
						player.on('ended', ended);

						setInterval(function(){
							if(playing){
								realPlayTime = parseInt(realPlayTime) + parseInt(1);
								$("#realPlayTime").val(realPlayTime);
							}
							if(realPlayTime!=0 && realPlayTime%space_time==0){
								$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
							}
						},1000)
					</script>
				{elseif $section['savetype']==5}
					<!-- 腾讯云点播 -->
					<style type="text/css">
					.video-js{width:100%;}
					</style>
					<link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
					<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
					<video id="player-container-id" width="100%" height="240" preload="auto" playsinline webkit-playsinline></video>
					<script type="text/javascript">
						var player = TCPlayer('player-container-id', {
							fileID: "<?php echo $section['videourl']; ?>",
							appID : "<?php echo $qcloudvod['appid']; ?>",
							t	  : "<?php echo $qcloudVodRes['t']; ?>",
							us	  : "<?php echo $qcloudVodRes['us']; ?>",
							sign  : "<?php echo $qcloudVodRes['sign']; ?>",
							exper : "<?php echo $exper; ?>",
							plugins:{
								ContinuePlay: {
								   text:'上次播放至 ',
								   btnText: '恢复播放'
								},
							  }
						});

						var playing    = false; /* 播放状态 */
						var submiting  = false; /* 提交状态 */
						var space_time = 60;    /* 提交间隔(秒) */
						var realPlayTime = document.getElementById("realPlayTime").value;
						var recordurl = "{php echo $this->createMobileUrl('record', array('lessonid'=>$_GPC['id'],'sectionid'=>$_GPC['sectionid'],'uid'=>$uid,'sectiontype'=>$section['sectiontype']));}";  /* 提交地址 */

						function play(){
							playing = true;
						}
						function pause(){
							playing = false;
						}
						function timeUpdate(){
							//间隔指定时间记录一次播放时间
							var currentTime = Math.floor(player.currentTime());
							if(currentTime>0 && currentTime%space_time==0 && !submiting){
								submiting = true;
								$.get(recordurl, {currentTime:currentTime}, function (data){});
								setTimeout(function(){
									submiting = false;
								},1000);
							}
						}
						function ended(){
							var currentTime = Math.floor(player.duration());
							$.get(recordurl, {currentTime:currentTime}, function (data){});
							$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
							location.reload();
						}

						player.on('play', play);
						player.on('pause', pause);
						player.on('timeupdate', timeUpdate);
						player.on('ended', ended);

						setInterval(function(){
							if(playing){
								realPlayTime = parseInt(realPlayTime) + parseInt(1);
								$("#realPlayTime").val(realPlayTime);
							}
							if(realPlayTime!=0 && realPlayTime%space_time==0){
								$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
							}
						},1000)
					</script>
				{else}
					{if $setting['video_player']=='0'}
						<video id="video" src="{$section['videourl']}" width="100%" height="auto" controls="controls" autobuffer="autobuffer" x5-playsinline="" playsinline="" webkit-playsinline="" {if !empty($section['images'])}poster="{$_W['attachurl']}{$section['images']}"{/if}></video>
					{elseif $setting['video_player']=='1'}
						<script type="text/javascript" src="{MODULE_URL}template/mobile/style/jsv2/ckplayer/ckplayer.js?v={$versions}" charset="UTF-8"></script>
						<div id="ckplayer-video" style="width:100%;min-height:200px;"></div>
						<input type="hidden" id="video-time" />
						<script type="text/javascript">
							var videoObject = {
								container: '#ckplayer-video',
								variable: 'player',
								loaded: 'loadedHandler',
								poster: '{if !empty($section[images])}{$_W[attachurl]}{$section[images]}{else}{MODULE_URL}template/mobile/images/ckplayer-ready.jpg{/if}',
							{if $systemType!='ios'}
								mobileCkControls:true,
							{/if}
								video: '{$section[videourl]}',
							};
							var player = new ckplayer(videoObject);
							function loadedHandler() {
								player.addListener('play', playVideo);
								player.addListener('pause', pauseVideo);
								player.addListener('duration', durationHandler); //视频总时间
								player.addListener('time', timeHandler); //监听播放时间
								player.addListener('ended', endedHandler); //监听播放结束
							}

							var playing    = false; /* 播放状态 */
							var submiting  = false; /* 提交状态 */
							var space_time = 10;    /* 提交间隔(秒) */
							var realPlayTime = document.getElementById("realPlayTime").value;
							var recordurl = "{php echo $this->createMobileUrl('record', array('lessonid'=>$_GPC['id'],'sectionid'=>$_GPC['sectionid'],'uid'=>$uid,'sectiontype'=>$section['sectiontype']));}";

							function playVideo(){
								playing = true;
							}
							function pauseVideo(){
								playing = false;
							}
							function timeHandler(duration) {
								//间隔指定时间记录一次播放时间
								var currentTime = Math.floor(duration);
								if(currentTime>0 && currentTime%space_time==0 && !submiting){
									submiting = true;
									$.get(recordurl, {currentTime:currentTime}, function (data){});
									setTimeout(function(){
										submiting = false;
									},1000);
								}

								<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
								var test_time = {php echo $section['test_time'];};
								var plays = {php echo $plays ? 1: 0;};
								if(currentTime >= test_time && !plays && playing){
									player.videoPause();
									playing = false;
									alert("试听已结束，观看完整版本请购买");
									location.reload();
								}
								<?php } ?>
							}
							function durationHandler(time) {
								$("#video-time").val(time);
							}
							function endedHandler() {
								var videoTime = Math.floor($("#video-time").val());
								$.get(recordurl, {currentTime:videoTime}, function (data){});
								$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
								location.reload();
							}

							setInterval(function(){
								if(playing){
									realPlayTime = parseInt(realPlayTime) + parseInt(1);
									$("#realPlayTime").val(realPlayTime);
								}
								if(realPlayTime!=0 && realPlayTime%space_time==0){
									$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
								}
							},1000)
						</script>
					{/if}
				{/if}
			{elseif $section['sectiontype']==3}
			<link rel="stylesheet" href="{MODULE_URL}template/mobile/APlayer/APlayer.min.css?v={$versions}">
			<script src="{MODULE_URL}template/mobile/APlayer/APlayer.min.js?v={$versions}"></script>
			<div id="main">
				<div class="fylesson_audio">
					<div id="player" class="aplayer"></div>
				</div>
			</div>
			<script>
				var ap1 = new APlayer({
					element: document.getElementById('player'),
					narrow: false,
					autoplay: false,
					showlrc: false,
					music: {
						title: "{$section['title']}",
						author: "",
						url: "{$section['videourl']}",
						pic: "{$_W['attachurl']}{php echo $section['images'] ? $section['images'] : $lesson['images'];}"
					}
				});
				ap1.init();

				var submiting  = false; /* 提交状态 */
				var space_time = 60;    /* 提交间隔(秒) */
				var recordurl = "{php echo $this->createMobileUrl('record', array('lessonid'=>$_GPC['id'],'sectionid'=>$_GPC['sectionid'],'uid'=>$uid,'sectiontype'=>$section['sectiontype']));}";		   /* 提交地址 */

				setInterval(function() {
					var currentTime = document.getElementById("current-ptime").value;
					<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
					var test_time = {php echo $section['test_time'];};
					var plays = {php echo $plays ? 1: 0;};
					if(currentTime >= test_time && !plays){
						ap1.audio.pause();
						alert("试听已结束，继续学习请购买");
						location.reload();
					}
					<?php } ?>
					
					//间隔指定时间记录一次播放时间
					if(currentTime>0 && currentTime%space_time==0 && !submiting){
						submiting = true;
						$.get(recordurl, {currentTime:currentTime}, function (data){});
						$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
						setTimeout(function(){
							submiting = false;
						},1000);
					}
				},1000)
			</script>
			{/if}
		{else}
			<img src="{$_W['attachurl']}{$lesson['images']}" alt="{$lesson['bookname']}" width="100%">
		{/if}
	</div>
	<!-- 视频区域 E -->

	{if $discount_endtime}
	<!-- 限时折扣 S -->
	<div class="discount-limit-price">
		<div class="discount-limit-price-left">
			<div class="discount-sale-price weui-flex">
				<span class="discount-sale-num">
					<span class="discount-sale-num-text">￥</span>
					<span class="discount-sale-num-main">{$diacount_price[0]}</span>
					<span class="discount-sale-num-point">.</span>
					<span class="discount-sale-num-sub">{$diacount_price[1]}</span>
				</span>
			<div class="weui-flex-item text-left flash-sale-original">
				<div class="original-cost">￥{$lesson['price']}</div>
					<span class="original-tips">限时折扣</span>
				</div>
			</div>
		</div>
		<div class="discount-limit-price-right discount-sale-countdown text-center">
			<p class="discount-sale-text">距离特价结束仅剩</p>
			<div class="time-item discount-sale-time">
				<span class="discount-sale-time-day" id="time_d">0天</span>
				<span class="discount-sale-time-item" id="time_h">00</span>
				<span class="discount-sale-time-mh">:</span>
				<span class="discount-sale-time-item" id="time_m">00</span>
				<span class="discount-sale-time-mh">:</span>
				<span class="discount-sale-time-item" id="time_s">00</span>
			</div>
		</div> 
	</div>
	<script type="text/javascript">
		setTimeout("show_time()",1000);
		var time_d = document.getElementById("time_d");
		var time_h = document.getElementById("time_h");
		var time_m = document.getElementById("time_m");
		var time_s = document.getElementById("time_s");
		 
		var time_end = new Date("<?php echo $discount_endtime; ?>"); // 设定结束时间
		time_end = time_end.getTime();
		 
		function show_time(){
			var time_now = new Date(); // 获取当前时间
			time_now = time_now.getTime();
			var time_distance = time_end - time_now; // 结束时间减去当前时间
			var int_day, int_hour, int_minute, int_second;
			if(time_distance >= 0){
				// 天时分秒换算
				int_day = Math.floor(time_distance/86400000)
				time_distance -= int_day * 86400000;
				int_hour = Math.floor(time_distance/3600000)
				time_distance -= int_hour * 3600000;
				int_minute = Math.floor(time_distance/60000)
				time_distance -= int_minute * 60000;
				int_second = Math.floor(time_distance/1000)

				// 时分秒为单数时、前面加零站位
				if(int_hour < 10)
				int_hour = "0" + int_hour;
				if(int_minute < 10)
				int_minute = "0" + int_minute;
				if(int_second < 10)
				int_second = "0" + int_second;

				// 显示时间
				time_d.innerHTML = int_day + '天';
				time_h.innerHTML = int_hour;
				time_m.innerHTML = int_minute;
				time_s.innerHTML = int_second;

				setTimeout("show_time()",1000);
			}else{
				time_d.innerHTML = time_d.innerHTML;
				time_h.innerHTML = time_h.innerHTML;
				time_m.innerHTML = time_m.innerHTML;
				time_s.innerHTML = time_s.innerHTML;
			}
		}
		</script>
	<!-- 显示折扣 E -->
	{/if}
	
	<!-- 导航目录 S -->
	<ul class="course-tab">
		<li {if empty($sectionid) && $setting['lesson_show']==0}class="curr"{/if}>详情</li>
		<li {if $sectionid>0 || $setting['lesson_show']==1}class="curr"{/if}>目录</li>
		<li>评价({$total})</li>
	</ul>
	<!-- 导航目录 E -->

	<div class="course-container">
		<!-- 课程介绍 S -->
		<div class="js-tab"  style="transform-origin:0px 0px 0px;opacity:1;transform:scale(1,1); {if $sectionid>0 || $setting['lesson_show']==1}display:none;{/if}">
			<ul class="course-intro">
				{if !$sectionid || !$section['content']}
					<li style="padding-bottom: 10px;">
						<p class="title-bar__title" onclick="location.href=''">{$lesson['bookname']}</p>
						<p class="lesson-bar clear">
							<span class="lesson-integral fl">
								{if $lesson['integral_rate']>0}
									购买即赠送课程金额{$lesson['integral_rate']}倍积分
								{elseif $lesson['integral']>0}
									购买即赠送{$lesson['integral']} 积分
								{/if}
							</span>
							<span class="vnum fr">
								{if $lesson['price']>0}
									{php echo $lesson['buynum']+$lesson['virtual_buynum'];}
								{else}
									{php echo $lesson['buynum']+$lesson['virtual_buynum']+$lesson['visit_number'];}
								{/if}人已学习
							</span>
						</p>
						{if $level_name}
						<p class="ktvip-box">开通{$level_name}免费学习<a href="{php echo $this->createMobileUrl('vip');}" class="ktvip"><img src="{MODULE_URL}template/mobile/images/vip-kt.png" height="20px"></a></p>
						{/if}
					</li>
					<li class="details">
						<h2 class="chapter-details-title"><i class="section-details-icon"></i>课程介绍</h2>
						<div class="lesson-content chapter-content">
							{php echo htmlspecialchars_decode($lesson['descript']);}
						</div>
					</li>
					<li class="details">
						<div class="chapter-content">
							<p class="teacher-intro">
								<span class="chapter-intro-user" onclick="location.href='{php echo $this->createMobileUrl('teacher', array('teacherid'=>$lesson['teacherid']));}'">
									<img src="{$_W['attachurl']}{$lesson['teacherphoto']}" width="50" height="50">
									<strong>{$lesson['teacher']}</strong>
									<span>总共{$lessonNumber}个课程</span>
									<i class="fa fa-exclamation-circle"> 查看全部课程</i>
								</span>
							</p>
							{php echo htmlspecialchars_decode($lesson['teacherdes']);}
						</div>
					</li>
				{else}
					<li class="details">
						<h2 class="chapter-details-title"><i class="section-details-icon"></i>章节内容</h2>
						<div class="lesson-content" style="padding:10px 0px; overflow-y:auto; max-height:400px;">
							{php echo htmlspecialchars_decode($section['content']);}
						</div>
					</li>
				{/if}
			</ul>
		</div>
		<!-- 课程介绍 E -->

		<!-- 章节目录 S -->
		<div class="js-tab" style="transform-origin:0px 0px 0px;opacity:1;transform:scale(1,1); {if empty($sectionid) && $setting['lesson_show']==0}display:none;{/if}">
			<ul class="course-chapter">
				<li>
					{if $section_count}
						{loop $title_list $title}
						<h2 class="chapter-title" onclick="handleSection(this)"><i class="section-title-icon"></i>{$title['title']}[{php echo count($title['section'])}课时]<span></span></h2>
						<ul class="course-sections">
							{loop $title['section'] $sec}
							<li>
								<a href="{php echo $this->createMobileUrl('lesson', array('id'=>$lesson['id'],'sectionid'=>$sec['id']));}" {if $sectionid==$sec['id']}class="section-active"{/if}><i class="fa fa-play-circle-o {if $sectionid==$sec['id']}section-active{/if}"></i>{if $sec['is_free']==1}<span class="course-tips-free">试听</span>{/if}{$sec['title']}</a>
								<i class="section-state-icon">{$sec['videotime']}</i>
							</li>
							{/loop}
						</ul>
						{/loop}
						
						{if !empty($section_list)}
							{if empty($title_list)}
								<h2 class="chapter-title" onclick="location.href='{php echo $this->createMobileUrl('lesson', array('id'=>$lesson['id']));}'"><i class="section-title-icon"></i>{$lesson['bookname']}[{$section_count}课时]</h2>
							{/if}
							<ul class="course-sections">
							{loop $section_list $sec}
								<li>
									<a href="{php echo $this->createMobileUrl('lesson', array('id'=>$lesson['id'],'sectionid'=>$sec['id']));}" {if $sectionid==$sec['id']}class="section-active"{/if}><i class="fa fa-play-circle-o {if $sectionid==$sec['id']}section-active{/if}"></i>{if $sec['is_free']==1}<span class="course-tips-free">试听</span>{/if}{$sec['title']}</a>
									<i class="section-state-icon">{$sec['videotime']}</i>
								</li>
								{/loop}
							</ul>
						{/if}
					{else}
						<h2 class="chapter-title" onclick="location.href='{php echo $this->createMobileUrl('lesson', array('id'=>$lesson['id']));}'"><i class="section-title-icon"></i>{$lesson['bookname']}[{$section_count}课时]</h2>
						<ul class="course-sections">
							<li style="height:auto;padding:10%;">
								<a style="text-align:center;">{php echo $lesson['lesson_type']==0 ? '抱歉，该课程没有找到任何内容~' : '请点击“详情”查看相关介绍哦~';}</a>
							</li>
						</ul>
					{/if}
				</li>
			<ul>
		</div>
		<!-- 章节目录 E -->

		<!-- 评价列表 S -->
		<div class="js-tab" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1); display: none;">
			<div class="swiper-slide swiper-slide-active" style="height:auto;">
                <div class="details-con shadow" id="comments_box">
					<ul class="comment" id="evaluate">
						{if $allow_evaluate}
						<li class="item" style="padding:.1rem .05rem;text-align:center;">
							<div class="reply-div">
								有什么想要说的呢？赶紧
								<a class="btn btn-default btn-sm" href="{$evaluate_url}">去评价</a>
								吧~
							</div>
						</li>
						{/if}
					</ul>
				</div>
			</div>
			<div id="loading_div" class="loading_div">
				<a href="javascript:void(0);" id="btn_Page"><i class="fa fa-arrow-circle-down"></i> 加载更多</a>
			</div>
		</div>
		<!-- 评价列表 E -->
	</div>
	{if !empty($advs)}
	<div style="margin-top: 10px;;">
		<a href="{$advs['link']}"><img src="{$_W['attachurl']}{$advs['picture']}" style="width:100%;"></a>
	</div>
	{/if}
	
	<footer>
	    <a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
	</footer>
</div>
{template 'quicknav'}


{if !empty($lesson['weixin_qrcode'])}
<div id="cover" style="position: fixed; top: 0px; width: 100%; height: 100%; z-index: 99999999; display: none; background: rgba(0, 0, 0, 0.8);"><img src="{$_W['attachurl']}{$lesson['weixin_qrcode']}" style="width:50%;margin-left: 25%;margin-top: 25%;"></div>
{/if}

<div id="bottom-contact" class="hide">
	<div class="contact-wrap">
		<div class="contact-wrap-title">咨询交流</div>
		{if !empty($lesson['weixin_qrcode'])}
		<div class="border-top layer-list_item">
			<a href="javascript:;" id="btn-qrcode">
				<div class="layer-list_item-icon">
					<img class="layer-list_item-img" src="{$_W['attachurl']}{$lesson['weixin_qrcode']}">
				</div>
				<p class="layer-list_item-name">微信咨询</p>
				<p class="layer-list_item-info">点击查看二维码</p>
				<div class="layer-list_item-go">
					<i class="icon-font i-v-right">&gt;</i>
				</div>
			</a>
		</div>
		{/if}
		{if !empty($config['tel'])}
		<div class="border-top layer-list_item">
			<a href="tel:{$config['tel']}">
				<div class="layer-list_item-icon">
					<img class="layer-list_item-img" src="{MODULE_URL}template/mobile/images/contact-tel.png">
				</div>
				<p class="layer-list_item-name">客服电话</p>
				<p class="layer-list_item-info">{$config['tel']}</p>
				<div class="layer-list_item-go">
					<i class="icon-font i-v-right">&gt;</i>
				</div>
			</a>
		</div>
		{/if}
		{if !empty($lesson['qq'])}
		<div class="border-top layer-list_item">
			<a id="qq-consult" href="http://wpa.qq.com/msgrd?v=3&uin={$lesson['qq']}&site=qq&menu=yes">
				<div class="layer-list_item-icon">
					<img class="layer-list_item-img" src="{MODULE_URL}template/mobile/images/contact-1v1.png?v=1">
				</div>
				<p class="layer-list_item-name">QQ咨询</p>
				<p class="layer-list_item-info">QQ:{$lesson['qq']}</p>
				<div class="layer-list_item-go">
					<i class="icon-font i-v-right">&gt;</i>
				</div>
			</a>
		</div>
		{/if}
		{if !empty($lesson['qqgroup'])}
		<div class="contact-wrap__qun border-top">
			<div class="contact-wrap-qun-title">加群交流<span class="contact-wrap-qun-desc">(获取资料、学员交流)</span></div>
			<ul>
				<li class="layer-list_item">
					<a id="qqgroup-consult" {if !empty($lesson['qqgroupLink'])}href="{$lesson['qqgroupLink']}"{/if}>
						<div class="layer-list_item-icon">
							<img class="layer-list_item-img" src="{$_W['attachurl']}{$lesson['teacherphoto']}">
						</div>
						<p class="layer-list_item-name z-tail">{$lesson['teacher']}讲师交流群</p>
						<p class="layer-list_item-info">QQ群:{$lesson['qqgroup']}</p>
						<div class="layer-list_item-go">
							<i class="icon-font i-v-right">&gt;</i>
						</div>
					</a>
				</li>
			</ul>
		</div>
		{/if}
		{if empty($lesson['qq']) && empty($lesson['qqgroup']) && empty($lesson['weixin_qrcode'])}
		<div class="contact-wrap__qun border-top" style="text-align:center;">
			<div class="contact-wrap-qun-title">抱歉，未找到任何交流方式~</div>
		</div>
		{/if}
	</div>
	<div class="layer-close">关闭</div>
</div>
<div id="layer-bg" class="hide"></div>

<!--课程规格start-->
<div class="flick-menu-mask hide" onclick="closeSpec();"></div>
<div class="spec-menu-content spec-menu-show hide">
	<div class="spec-menu-top bdr-b">
		<div class="spec-first-pic">
			<img id="spec_image" src="{$_W['attachurl']}{$lesson['images']}" onerror="imgErr(this)">
		</div>
		<a class="rt-close-btn-wrap spec-menu-close" onclick="closeSpec();">
			<p class="flick-menu-close"></p>
		</a>
		<div class="spec-price" id="specJdPri" style="display: block">
			<span class="yang-pic spec-yang-pic"></span>
			<span id="spec_price"> ￥{$lesson['price']} </span>
		</div>
	</div>
	<div class="spec-menu-middle">
		<div class="prod-spec" id="prodSpecArea">
			<!-- 已选 -->
			<div class="spec-desc">
				<span class="part-note-msg">已选</span>
				<div id="specDetailInfo_spec" class="base-txt">
				</div>
			</div>
			<div class="nature-container" id="natureCotainer">
				<div class="pro-color">
					<span class="part-note-msg"> 规格 </span>
					<p id="color">
					{if $lesson['lesson_type']==1}
						{loop $spec_list $spec}
							<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[spec_day]}','{$spec[spec_name]}')">{$spec['spec_name']}</a>
						{/loop}
					{else}
						{loop $spec_list $spec}
							{if $spec['spec_day']==-1}
							<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[spec_day]}','')">长期有效</a>
							{else}
							<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[spec_day]}','')">有效期{$spec['spec_day']}天</a>
							{/if}
						{/loop}
					{/if}
					</p>
					<input type="hidden" id="spec_id" value=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="flick-menu-btn spec-menu-btn">
		<a class="directorder" id="buy_now">{php echo $buynow_name ? $buynow_name : '立即购买';}</a>
	</div>
</div>
<!--课程规格end-->

<ul class="d-buynow">
	<li class="btn-qq">
		<a href="{php echo $config['service_url'] ? $config['service_url'] : 'javascript:;';}" id="{php echo $config['service_url'] ? 'all-consult' : 'btn-qq';}"><i class="ico ico-lessonqq"></i>咨询</a>
	</li>
	<li class="btn-collect" id="btn-collect">
		<a href="javascript:;" {if !empty($collect)}class="cur"{/if}><i class="ico ico-collect"></i>收藏</a>
	</li>
	<li class="btn-phone" id="btn-lxb" style="display: none;">
		<a href="javascript:;"><i class="ico ico-phone"></i>咨询</a>
	</li>
	{if $show_isbuy && $lesson['lesson_type']!=1}
		<li class="btn-buy"><a href="{php echo $study_link ? $study_link : $this->createMobileUrl('lesson', array('id'=>$lesson['id'],'sectionid'=>$first_section['id']));}" class="buy buy_now blue"><p class="num"><em class="money"></em>{php echo $study_name ? $study_name : '开始学习';}</p></a></li>
	{else}
		{if $setting['stock_config']==1 && $lesson['stock']==0}
			<li class="btn-buy"><a href="javascript:;" class="buy buy_now gray" style="background-color:#7D7D7D;"><p class="num"><em class="money"></em>已售罄</p></a></li>
		{else}
			<li class="btn-buy" {if empty($buynow_link) || $buynow_link=='#'}id="buy-now"{/if}><a href="{if !empty($buynow_link) && $buynow_link!='#'}{$buynow_link}{else}javascript:;{/if}" class="buy buy_now red"><p class="num">{php echo $buynow_name ? $buynow_name : '立即购买';}</p></a></li>
		{/if}
	{/if}
</ul>
{if $setting['isfollow']==2 && $member['follow']==0 && $userAgent}
<div class="force-contact-main follow_qrcode">
	<div class="force-contact-content_new">
		<p class="force-contact-tips">{php echo $setting['lesson_follow_title'] ? $setting['lesson_follow_title'] : '长按指纹识别二维码, 关注公众号';}</p>
		<p class="force-contact-desc">{php echo $setting['lesson_follow_desc'] ? $setting['lesson_follow_desc'] : '关注后继续学习, 可接收最新课程通知';}</p>
		<img class="receive-red-packet-contact-touch" src="../attachment/images/{$uniacid}/fy_lessonv2/lesson_{$id}.jpg">
	</div>
</div>
{/if}

{if !empty($now_service)}
<div class="aui-dialog">
	<div class="listInformation background_default " style="background: rgb(245, 245, 245);"><span class="listInformationImg listInformationImg2"><img src="{$_W['attachurl']}{$now_service['avatar']}"></span>
		<div class="listInformationWord">
			<p class="t2 c8" style="width: 100%; text-align: left;">HI，我是 {$now_service['nickname']}</p>
			<p class="t1 c2" style="width: 100%; text-align: left;">邀请你加入 用户售后服务群</p>
		</div>
	</div>
	<div class="textCenter" style="padding-top: 0.3rem;">
		<p style="padding-top: 0.3rem;"><img src="{$_W['attachurl']}{$now_service['qrcode']}" class="erweima"></p>
		<p class="t3 c3 padding3" style="line-height: 1.5;">
			微信里长按识别二维码<br>加我为微信好友，拉您入群
		</p>
	</div>
	<div class="listInformationBtn t2 c3 flagDiv"><span onclick="gohome()" class="listInformationBtnChild">已入群，不再提示</span> <span onclick="closeTip()" class="listInformationBtnChild c5">残忍拒绝</span></div>
</div>
<div class="aui-mask"></div>
<script type="text/javascript">
var htmlDom = document.documentElement;
var windowWidth = htmlDom.clientWidth;
htmlDom.style.fontSize = windowWidth / 7.5 + 'px';
(function() {
	document.addEventListener('DOMContentLoaded', function() {
		if(!htmlDom.style.fontSize) {
			var htmlDomProtect = document.documentElement;
			var windowWidth = htmlDomProtect.clientWidth;
			htmlDomProtect.style.fontSize = windowWidth / 7.5 + 'px';
		}
	}, false);
})();

function closeTip(){
	$(".aui-dialog").hide();
	$(".aui-mask").hide();
}
function gohome(){
	$.ajax({
		url:"{php echo $this->createMobileUrl('vip', array('op'=>'gohome'));}",
		type:"post",
		data:{},
		success:function(data){
			if(data==0){
				alert("网络请求失败，请稍后再试!");
			}
			console.log(data);
			closeTip();
		},
		error:function(e){
			alert("网络错误，请稍后重试!");
			closeTip();
		}
	}); 
}
</script>
{/if}

<script type="text/javascript">
var ajaxurl = "{php echo $this->createMobileUrl('lesson', array('op'=>'ajaxgetlist','id'=>$id,'sectionid'=>$sectionid));}";

$(function () {
    var nowPage = 1; //设置当前页数，全局变量
    function getData(page) {  
        nowPage++; //页码自动增加，保证下次调用时为新的一页
        $.get(ajaxurl, {page: page}, function (data) {  
            if (data.length > 0) {
                var jsonObj = JSON.parse(data);
                insertDiv(jsonObj);  
            }
        });
       
    } 
    //初始化加载第一页数据  
    getData(1);

    //生成数据html,append到div中  
    function insertDiv(result) {  
        var mainDiv =$("#evaluate");
        var chtml = '';  
        for (var j = 0; j < result.length; j++) {  
            chtml += '<li class="item">';  
			chtml += '	<div class="hbox">';
			chtml += '		<div class="avatar">';
			chtml += '			<img src="' + result[j].avatar + '">';
			chtml += '			<h4 class="name te">' + result[j].nickname + '</h4>';
			chtml += '		</div>';
			chtml += '		<div class="right-box">';
			chtml += '			<p class="praise"><i class="ico ico-credit ' + result[j].ico + '"></i> ' + result[j].grade + ' <span class="fr"> ' + result[j].addtime + ' </span></p>';
			chtml += '			<p class="info"> ' + result[j].content + ' </p>';
			if(result[j].reply !=null && result[j].reply !=''){
			chtml += '			<p class="info reply"> <font>讲师回复：</font>' + result[j].reply + ' </p>';
			}
			chtml += '		</div>';
			chtml += '	</div>';
			chtml += '</li>'; 
        }
		mainDiv.append(chtml);
		if(result.length==0){
			document.getElementById("loading_div").innerHTML='<div class="loading_bd">没有了，已经到底了</div>';
		}
    }  
  
    //==============核心代码=============  
    var winH = $(window).height(); //页面可视区域高度   
  
    var scrollHandler = function () {  
        var pageH = $(document.body).height();  
        var scrollT = $(window).scrollTop(); //滚动条top   
        var aa = (pageH - winH - scrollT) / winH;  
        if (aa < 0.02) { 
            if (nowPage % 1 === 0) {
                getData(nowPage);  
                $(window).unbind('scroll');  
                $("#btn_Page").show();
            } else {  
                getData(nowPage);  
                $("#btn_Page").hide();
            }  
        }  
    }  
    //定义鼠标滚动事件
    $(window).scroll(scrollHandler);
    //继续加载按钮事件
    $("#btn_Page").click(function () {
        getData(nowPage);
        $(window).scroll(scrollHandler);
    });
    
    //单规格课程自动选中    
    <?php if(count($spec_list)==1){ ?>
	    var spec_id = <?php echo $spec_list[0]['spec_id']; ?>;
	    var spec_price = <?php echo $spec_list[0]['spec_price']; ?>;
	    var spec_day = <?php echo $spec_list[0]['spec_day']; ?>;
		var spec_name = "<?php echo $spec_list[0]['spec_name']; ?>";
	    updateColorSizeSpec(spec_id, spec_price, spec_day, spec_name);
	<?php } ?>
});

</script>

<script type="text/javascript">
<?php if($section['sectiontype']==1 && $setting['video_player']==0 && in_array($section['savetype'], array('0','1','3'))){ ?>
	var submiting = false; /* 提交状态 */
	var playing = false;   /* 播放状态 */
	var space_time = 10;   /* 提交间隔(秒) */
	var realPlayTime = document.getElementById("realPlayTime").value;
	var video = document.getElementById("video");
	var recordurl = "{php echo $this->createMobileUrl('record', array('lessonid'=>$_GPC['id'],'sectionid'=>$_GPC['sectionid'],'uid'=>$uid,'sectiontype'=>$section['sectiontype']));}";

	video.addEventListener("play",function(){
		playing = true;
	}, false);

	video.addEventListener("pause",function(){
		playing = false;
	}, false);

	video.addEventListener("timeupdate",function(){
		//间隔指定时间记录一次播放时间
		var currentTime = Math.floor(video.currentTime);
		if(currentTime>0 && currentTime%space_time==0 && !submiting){
			submiting = true;
			$.get(recordurl, {currentTime:currentTime}, function (data){});
			setTimeout(function(){
				submiting = false;
			},1000);
		}

		<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
		var test_time = {php echo $section['test_time'];};
		var plays = {php echo $plays ? 1: 0;};
		if(currentTime >= test_time && !plays && playing){
			video.pause();
			playing = false;
			alert("试听已结束，观看完整版本请购买");
			location.reload();
		}
		<?php } ?>
	});

	video.addEventListener("ended",function(){
		//播放结束后记录
		var duration = video.duration.toFixed(1);
		$.get(recordurl, {currentTime:duration}, function (data){});
		$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
		location.reload();
	});

	setInterval(function(){
		if(playing){
			realPlayTime = parseInt(realPlayTime) + parseInt(1);
			$("#realPlayTime").val(realPlayTime);
		}
		if(realPlayTime>0 && realPlayTime%space_time==0){
			$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
		}
	},1000)

<?php }?>

document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	var miniprogram_environment = false;
	wx.miniProgram.getEnv(function(res) {
		if(res.miniprogram) {
			miniprogram_environment = true;
		}
	})
	if((window.__wxjs_environment === 'miniprogram' || miniprogram_environment)) {
		$("#qq-consult").attr("href","javascript:;");
		$("#qqgroup-consult").attr("href","javascript:;");
		$("#all-consult").attr("href","javascript:;");
		$(".follow_qrcode").hide();
	}
});
</script>

<script type="text/javascript">
// “章节”、“课程详情”tab切换
$(".course-tab").on("click", 'li', function() {
	var $currItem = $(this),
	index = $currItem.index();

	$currItem.addClass('curr').siblings().removeClass('curr');
	$(".js-tab").hide().eq(index).show();

});

//展开和关闭章节
function handleSection(obj){
	$(obj).find('span').toggleClass("open");
	$(obj).next('ul').toggleClass("hide");
}

//展开咨询
$("#btn-qq").click(function() {
	$("#bottom-contact").removeClass("hide");
	$("#layer-bg").removeClass("hide");
});
//关闭咨询
$(".layer-close").click(function() {
	$("#bottom-contact").addClass("hide");
	$("#layer-bg").addClass("hide");

});

//微信二维码
$('#btn-qrcode').click(function(){
	$('#cover').fadeIn(200).unbind('click').click(function(){
		$(this).fadeOut(100);
	})
});

//课程规格
$("#buy-now").click(function() {
	$(".flick-menu-mask").removeClass('hide');
	$(".spec-menu-show").removeClass('hide');
});
function closeSpec(){
	$(".flick-menu-mask").addClass('hide');
	$(".spec-menu-show").addClass('hide');
}

//立即购买
$("#buy_now").click(function(){
	var spec_id = $("#spec_id").val();
	if(!spec_id){
		alert("请选择课程规格");
		return false;
	}
	location.href = "{php echo $this->createMobileUrl('confirm', array('id'=>$lesson['id']));}&spec_id="+spec_id;
});

//收藏按钮
$("#btn-collect").click(function(){
	var id = "<?php echo $id; ?>";
	var ajaxurl = "{php echo $this->createMobileUrl('updatecollect', array('ctype'=>'lesson','uid'=>$uid));}";
	$.ajax({
        type:'post',
        url:ajaxurl,
        data:{id:id},
        dataType:'json',     
        success:function(data){
            if(data=='1'){
				$("#btn-collect a").addClass("cur");
			}else if(data=='2'){
				$("#btn-collect a").removeClass("cur");
			}
        }
    });
});

//选择规格
function updateColorSizeSpec(spec_id, spec_price, spec_day, spec_name){
	$(".a-item").removeClass("selected");
	$(".spec_"+spec_id).addClass("selected");
	$("#spec_id").val(spec_id);
	document.getElementById("spec_price").innerHTML = "￥"+spec_price;

	{if $lesson['lesson_type'] == 1}
		document.getElementById("specDetailInfo_spec").innerHTML = spec_name;
	{else}
		document.getElementById("specDetailInfo_spec").innerHTML = spec_day==-1 ? '长期有效' : "有效期"+spec_day+"天";
	{/if}
}
</script>

<script type="text/javascript">
wx.ready(function(){
	var shareData = {
		title: "{$sharelesson['title']}",
		desc: "{$sharelesson['desc']}",
		link: "{php echo $sharelesson['link'];}",
		imgUrl: "{php echo $_W['attachurl'];}{$sharelesson['images']}",
		trigger: function (res) {},
		complete: function (res) {},
		success: function (res) {
			$.post("{php echo $this->createMobileUrl('sharecoupon');}");
		},
		cancel: function (res) {},
		fail: function (res) {}
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
	wx.onMenuShareQQ(shareData);
	wx.onMenuShareWeibo(shareData);
	wx.onMenuShareQZone(shareData);
	
});
</script>

{template '_footerv2'}
