<!-- 
 * 二维码推广
 * ============================================================================
 * 版权所有 2015-2016 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
-->
{template '_headerv2'}
<link href="{MODULE_URL}template/mobile/style/cssv2/commission.css?v={$versions}" rel="stylesheet" />

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

<div class="sharecard__entry-global" style="top:50px;" onclick="location.href='{php echo $this->createMobileUrl('lessonqrcode', array('lessonid'=>$lessonid,'op'=>delete));}'">
	<div class="sharecard__entry">
		<div class="sharecard__entry-icon">
			<img src="{MODULE_URL}template/mobile/images/poster-refresh.png" />
		</div>
		更新海报
	</div>
</div>

<div style="min-height:100%;">
	<!-- 系统生成图片 -->
	<div class="qrcode_img">
		<img src="{$imagepath}" />
	</div>
	<!-- /系统生成图片 -->

	<!-- 分销提示 -->
	{if !empty($sale_desc)}
	<div class="qrcode_info">
		<div class="title">
			<div class="ico"><i class="fa fa-cubes"></i></div>
			<div class="text">{$sale_desc[0]}</div>
		</div>
		<div class="con">
			{loop $sale_desc $key $item}
			{if $key>0}
			<div class="line">
				<div class="t2">
					<div class="t3">{$item}</div>
				</div>
			</div>
			{/if}
			{/loop}
		</div>
	</div>
	{/if}
	<!-- /分销提示 -->

	<!-- 版权信息 -->
	<footer>
		<a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
	</footer>
	<!-- /版权信息 -->
</div>


{php echo register_jssdk(false);}
<script type="text/javascript">
wx.ready(function(){
	var shareData = {
		title: "{$sharelink['title']} - {$setting['sitename']} - {$_W['account']['name']}",
		desc: "{$sharelink['desc']}",
		link: "{$shareurl}",
		imgUrl: "{$_W['attachurl']}{$sharelink['images']}",
		trigger: function (res) {},
		complete: function (res) {},
		success: function (res) {},
		cancel: function (res) {},
		fail: function (res) {}
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
	wx.onMenuShareQQ(shareData);
	wx.onMenuShareWeibo(shareData);
	wx.onMenuShareQZone(shareData);
	
});

</script>

{template '_footerv2'}