<!--
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com；
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！已购买用户允许对程序代码进行修改和使用，但是不允许对
 * 程序代码以任何形式任何目的的再发布，作者将保留追究法律责任的权力和最终解
 * 释权。
 * ============================================================================
-->
{template '_headerv2'}
<style type="text/css">
.tabbar_wrap .weui_tabbar .weui_tabbar_icon+.weui_tabbar_label{
	margin-top: -3px;
    margin-bottom: 0px;
}
</style>

{php $this->pay($params);}

{template '_footerv2'}
