<!-- 
 * 确认下单
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
-->
{template '_headerv2'}
<link href="{MODULE_URL}template/mobile/style/cssv2/confirm.css?v={$versions}" rel="stylesheet" />

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

{if $op == 'display'}
<div class="confirm-order">
	<div class="addorder_good ">
		<div class="good" onclick="location.href = '{php echo $this->createMobileUrl('lesson', array('id'=>$order['lessonid']));}'">
			<div class="img">
				<img src="{$_W['attachurl']}{$order['images']}">
			</div>
			<div class="info">
				<div class="inner">
					<div class="name">{$order['bookname']}</div>
					<p style="font-size:12px;color:#B3B3B3;">
						{if $order['lesson_type']=='0'}
							有效期：{php echo $order['spec_day']>0 ? $order['spec_day'].'天' : '长期有效';}
						{else}
							已选：{$order['spec_name']}
						{/if}
					</p>
				</div>
			</div>
			<div class="price">
				<div class="pnum">￥<span class="marketprice">{$order['price']}</span></div>
			</div>
		</div>
	</div>

	<div class="addorder_price">
		<div class="price">
			<div class="line">
				<b>核销状态</b>
				<span>
				{if $order['is_verify']=='0'}
					<b class="green-color">未核销</b>
				{elseif $order['is_verify']==1}
					<b class="red-color">已核销</b>
				{/if}
				</span>
			</div>
			{if !empty($verify_info)}
			<div class="line">
				核销员<span>{$verify_user['nickname']}(uid:{$verify_info['verify_uid']})</span>
			</div>
			<div class="line">
				核销时间<span>{php echo date('Y-m-d H:i:s', $verify_info['verify_time']);}</span>
			</div>
			{/if}
		</div>
	</div>
	
	<div class="addorder_price">
		<div class="price">
			<div class="line">
				订单编号<span>{$order['ordersn']}</span>
			</div>
			<div class="line">
				订单状态<span>{$orderStatusList[$order['status']]}</span>
			</div>
			<div class="line">
				下单时间<span>{php echo date('Y-m-d H:i:s', $order['addtime']);}</span>
			</div>
		</div>
	</div>
	
	{if !empty($appoint_info)}
	<div class="addorder_price">
		<div class="price">
			<div class="line">
				<b>报名课程信息</b>
			</div>
			{loop $appoint_info $item}
			<div class="line">
				{php echo explode('：', $item)[0];}<span>{php echo explode('：', $item)[1];}</span>
			</div>
			{/loop}
		</div>
	</div>
	{/if}
</div>
{if $order['is_verify'] == '0'}
<div class="verifySub" id="verifySub">确认核销</div>
{/if}

<script type="text/javascript">
$("#verifySub").click(function(){
	if(!confirm('确认核销?')){
		return false;
	}
	location.href = "{php echo $this->createMobileUrl('verifyorder', array('op'=>'verify', 'orderid'=>$orderid));}";
});
</script>

{/if}

<footer>
    <a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
</footer>

{template '_footerv2'}
