@charset "utf-8";

/*css初始值*/
body,div,span,a,ul,li,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,input,button,textarea,p,header,nav,select,option,ol,i,em {
	border: 0px;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

ul,li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	border: 0px;
}

input,textarea {
	border: 0px;
}

img,select,option {
	border: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.dsblock {
	display: block;
}

.dsbnone, .hide {
	display: none;
}

.dsinline {
	display: inline;
}

.dsinline-block {
	display: inline-block;
}

.ovhidden {
	overflow: hidden;
}

.tx-ind {
	text-indent: -9999px;
}

.txt-ind-1 {
	text-indent: 1em;
}

.txt-ind-2 {
	text-indent: 2em;
}

/*鼠标样式*/
.curpter {
	cursor: pointer;
}

a.more:hover{
	color: #e9511b;
}

/*文字溢出隐藏 start�*/
.one_hidden {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tw_hidden {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.tr_hidden {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.fu_hidden {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.fw_hidden {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

/*文本居中*/
.text-l {
	text-align: left;
}

.text-c {
	text-align: center;
}

.text-r {
	text-align: right;
}

.lspa-1 {
	letter-spacing: 1px;
}

.vertical-middle{
	vertical-align: middle;
}
.vertical-minus-1{
	vertical-align: -1px;
}

/*字母大小写*/
.text-tc {
	text-transform: capitalize;
/*开头是大写字母*/
}

.text-tu {
	text-transform: uppercase;
/*所有都是大写字母*/
}
/*字体的粗细 start*/
.ft-w-n {
	font-weight: normal;
}

.ft-w-l {
	font-weight: lighter;
}

.ft-w-b {
	font-weight: bold;
}

.ft-s-n {
	font-style: normal;
}

.ps-r {
	position: relative;
}

.ps-a {
	position: absolute;
}

.pa-b-0 {
	bottom: 0px;
}

.pa-b-22 {
	bottom: 22px;
}

.pa-r-0 {
	right: 0px;
}

.ftc-000000 {
	color: #000000;
}

.ftc-ffffff {
	color: #ffffff;
}

.ftc-fc0503 {
	color: #fc0503;
}

.ftc-0e9a0c {
	color: #0e9a0c;
}

.ftc-525252 {
	color: #525252;
}

.ftc-a9a9a9 {
	color: #a9a9a9;
}

.ftc-909090 {
	color: #909090;
}

.ftc-8b8b8b {
	color: #8b8b8b;
}

.ftc-888888 {
	color: #888888;
}

.ftc-8c8c8c {
	color: #8c8c8c;
}

.ftc-ff0000 {
	color: #ff0000;
}

.ftc-414141 {
	color: #414141;
}

.ftc-7a7a7a {
	color: #7a7a7a;
}

.ftc-787878 {
	color: #787878;
}

.ftc-bbbbbb {
	color: #bbbbbb;
}

.ftc-636363 {
	color: #636363;
}

.ftc-4c4c4c {
	color: #4c4c4c;
}

.ftc-9a9a9a {
	color: #9a9a9a;
}

.ftc-6d6d6d {
	color: #6d6d6d;
}

.ftc-878686 {
	color: #878686;
}

.ftc-676767 {
	color: #676767;
}

.ftc-8c8b8b {
	color: #8c8b8b;
}

.ftc-646464 {
	color: #646464;
}

.ftc-8e8e8e {
	color: #8e8e8e;
}

.ftc-5e5d5d {
	color: #5e5d5d;
}

.ftc-737373 {
	color: #737373;
}

.ftc-033354 {
	color: #033354;
}
.ftc-efefef {
	color: #efefef;
}
.ftc-d3d3d3 {
	color: #d3d3d3;
}
.ftc-f23030 {
	color: #f23030;
}
.ftc-e9511b,.tabcur {
	color: #e9511b !important;
}

.ql_subnav li a:hover,.navcur {
	background-color: #e9511b;
	color: #ffffff;
}

/*margin*/
.m-auto {
	margin: 0 auto;
}

.m-t-0 {
	margin-top: -1px;
}

.m-t-2 {
	margin-top: 2px;
}

.m-t-3 {
	margin-top: 3px;
}

.m-t-5 {
	margin-top: 5px;
}

.m-t-6 {
	margin-top: 6px;
}

.m-t-8 {
	margin-top: 8px;
}

.m-t-9 {
	margin-top: 9px;
}

.m-t-10 {
	margin-top: 10px;
}

.m-t-12 {
	margin-top: 12px;
}

.m-t-15 {
	margin-top: 15px;
}

.m-t-16 {
	margin-top: 16px;
}

.m-t-18 {
	margin-top: 18px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-22 {
	margin-top: 22px;
}

.m-t-25 {
	margin-top: 25px;
}

.m-t-27 {
	margin-top: 27px;
}

.m-t-37 {
	margin-top: 37px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-40 {
	margin-top: 40px;
}

.m-t-50 {
	margin-top: 50px;
}

.m-r-4 {
	margin-right: 4px;
}

.m-r-6 {
	margin-right: 6px;
}

.m-r-7 {
	margin-right: 7px;
}

.m-r-10 {
	margin-right: 10px;
}

.m-r-12 {
	margin-right: 12px;
}

.m-r-13 {
	margin-right: 13px;
}

.m-r-15 {
	margin-right: 15px;
}

.m-r-20 {
	margin-right: 20px;
}

.m-r-28 {
	margin-right: 28px;
}

.m-r-30 {
	margin-right: 30px;
}

.m-b-2 {
	margin-bottom: 2px;
}

.m-b-3 {
	margin-bottom: 3px;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-b-6 {
	margin-bottom: 6px;
}

.m-b-8 {
	margin-bottom: 8px;
}

.m-b-9 {
	margin-bottom: 9px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.m-b-18 {
	margin-bottom: 18px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-23 {
	margin-bottom: 23px;
}

.m-b-25 {
	margin-bottom: 25px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-33 {
	margin-bottom: 33px;
}

.m-b-60 {
	margin-bottom: 60px;
}

.m-b-100 {
	margin-bottom: 100px;
}

.m-l-012 {
	margin-left: -12px;
}

.m-l-01 {
	margin-left: -1px;
}

.m-l-1 {
	margin-left: 1px;
}

.m-l-4 {
	margin-left: 4px;
}

.m-l-6 {
	margin-left: 6px;
}

.m-l-7 {
	margin-left: 7px;
}

.m-l-10 {
	margin-left: 10px;
}

.m-l-12 {
	margin-left: 12px;
}

.m-l-13 {
	margin-left: 13px;
}

.m-l-15 {
	margin-left: 15px;
}

.m-l-20 {
	margin-left: 20px;
}

.m-l-23 {
	margin-left: 23px;
}

.m-l-24 {
	margin-left: 24px;
}

.m-l-30 {
	margin-left: 30px;
}

.m-l-40 {
	margin-left: 40px;
}

.m-l-200 {
	margin-left: 200px;
}

.m-l-315 {
	margin-left: 315px;
}

.m-l-34 {
	margin-left: 34px;
}

.m-l-45 {
	margin-left: 45px;
}

.m-l-70 {
	margin-left: 70px;
}

.m-l-80 {
	margin-left: 80px;
}

.m-l-115 {
	margin-left: 115px;
}

.p-t-3 {
	padding-top: 3px;
}

.p-t-5 {
	padding-top: 5px;
}

.p-t-6 {
	padding-top: 6px;
}

.p-t-9 {
	padding-top: 9px;
}

.p-t-10 {
	padding-top: 10px;
}

.p-t-12 {
	padding-top: 12px;
}

.p-t-13 {
	padding-top: 13px;
}

.p-t-14 {
	padding-top: 14px;
}

.p-t-15 {
	padding-top: 15px;
}

.p-t-16 {
	padding-top: 16px;
}

.p-t-20 {
	padding-top: 20px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-t-33 {
	padding-top: 33px;
}

.p-t-40 {
	padding-top: 40px;
}

.p-t-85 {
	padding-top: 85px;
}

.p-t-115 {
	padding-top: 115px;
}

.p-r-10 {
	padding-right: 10px;
}

.p-r-14 {
	padding-right: 14px;
}

.p-r-15 {
	padding-right: 15px;
}

.p-r-20 {
	padding-right: 20px;
}

.p-r-25 {
	padding-right: 25px;
}

.p-r-30 {
	padding-right: 30px;
}

.p-r-35 {
	padding-right: 35px;
}

.p-r-42 {
	padding-right: 42px;
}

.p-r-44 {
	padding-right: 44px;
}

.p-r-50 {
	padding-right: 50px;
}

.p-b-3 {
	padding-bottom: 3px;
}

.p-b-5 {
	padding-bottom: 5px;
}

.p-b-6 {
	padding-bottom: 6px;
}

.p-b-7 {
	padding-bottom: 7px;
}

.p-b-8 {
	padding-bottom: 8px;
}

.p-b-9 {
	padding-bottom: 9px;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-b-11 {
	padding-bottom: 11px;
}

.p-b-13 {
	padding-bottom: 13px;
}

.p-b-16 {
	padding-bottom: 16px;
}

.p-b-18 {
	padding-bottom: 18px;
}

.p-b-19 {
	padding-bottom: 19px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.p-b-26 {
	padding-bottom: 26px;
}

.p-b-30 {
	padding-bottom: 30px;
}

.p-b-37 {
	padding-bottom: 37px;
}

.p-l-10 {
	padding-left: 10px;
}

.p-l-14 {
	padding-left: 14px;
}

.p-l-15 {
	padding-left: 15px;
}

.p-l-20 {
	padding-left: 20px;
}

.p-l-25 {
	padding-left: 25px;
}

.p-l-26 {
	padding-left: 26px;
}

.p-l-30 {
	padding-left: 30px;
}

.p-l-35 {
	padding-left: 35px;
}

.p-l-42 {
	padding-left: 42px;
}

.p-l-44 {
	padding-left: 44px;
}

.p-l-50 {
	padding-left: 50px;
}


/*字体的大小*/
.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-15 {
	font-size: 15px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}

.fs-26 {
	font-size: 26px;
}

.fs-30 {
	font-size: 30px;
}

.fs-32 {
	font-size: 32px;
}

.fs-40 {
	font-size: 40px;
}

/*width*/
.w-all {
	width: 100%;
}

.w-minw {
	min-width: 1200px;
}

.w-main {
	width: 1200px;
}

.w-min80 {
	min-width: 80px;
}
.w-max120 {
	max-width: 120px;
}

.w-1 {
	width: 1px;
}

.w-5 {
	width: 5px;
}

.w-14 {
	width: 14px;
}

.w-18 {
	width: 18px;
}

.w-25 {
	width: 25px;
}

.w-28 {
	width: 28px;
}

.w-35 {
	width: 35px;
}

.w-44 {
	width: 44px;
}

.w-46 {
	width: 46px;
}

.w-50 {
	width: 50px;
}

.w-60 {
	width: 60px;
}

.w-65 {
	width: 65px;
}

.w-70 {
	width: 70px;
}

.w-72 {
	width: 72px;
}

.w-75 {
	width: 75px;
}

.w-80 {
	width: 80px;
}

.w-85 {
	width: 85px;
}

.w-86 {
	width: 86px;
}

.w-88 {
	width: 88px;
}

.w-90 {
	width: 90px;
}

.w-100 {
	width: 100px;
}

.w-102 {
	width: 102px;
}

.w-110 {
	width: 110px;
}

.w-112 {
	width: 112px;
}

.w-115 {
	width: 115px;
}

.w-120 {
	width: 120px;
}

.w-130 {
	width: 130px;
}

.w-136 {
	width: 136px !important;
}

.w-140 {
	width: 140px;
}

.w-150 {
	width: 150px;
}

.w-155 {
	width: 155px;
}

.w-160 {
	width: 160px;
}

.w-170 {
	width: 170px;
}

.w-175 {
	width: 175px;
}

.w-180 {
	width: 180px;
}

.w-200 {
	width: 200px;
}

.w-210 {
	width: 210px;
}

.w-220 {
	width: 220px;
}

.w-224 {
	width: 224px;
}

.w-230 {
	width: 230px;
}

.w-244 {
	width: 244px;
}

.w-245 {
	width: 245px;
}

.w-255 {
	width: 255px;
}

.w-258 {
	width: 258px;
}

.w-260 {
	width: 260px;
}

.w-265 {
	width: 265px;
}

.w-270 {
	width: 270px;
}

.w-280 {
	width: 280px;
}

.w-285 {
	width: 285px;
}

.w-287 {
	width: 287px;
}

.w-290 {
	width: 290px;
}

.w-300 {
	width: 300px;
}

.w-310 {
	width: 310px;
}

.w-320 {
	width: 320px;
}

.w-322 {
	width: 322px;
}

.w-330 {
	width: 330px;
}

.w-340 {
	width: 340px;
}

.w-353 {
	width: 353px;
}

.w-360 {
	width: 360px;
}

.w-375 {
	width: 375px;
}

.w-380 {
	width: 380px;
}

.w-410 {
	width: 410px;
}

.w-420 {
	width: 420px;
}

.w-430 {
	width: 430px;
}

.w-435 {
	width: 435px;
}

.w-450 {
	width: 450px;
}

.w-500 {
	width: 500px;
}

.w-540 {
	width: 540px;
}

.w-550 {
	width: 550px;
}

.w-560 {
	width: 560px;
}

.w-580 {
	width: 580px;
}

.w-592 {
	width: 592px;
}

.w-609 {
	width: 609px;
}

.w-640 {
	width: 640px;
}

.w-650 {
	width: 650px;
}

.w-680 {
	width: 680px;
}

.w-690 {
	width: 690px;
}

.w-700 {
	width: 700px;
}

.w-770 {
	width: 770px;
}

.w-790 {
	width: 790px;
}

.w-804 {
	width: 804px;
}

.w-840 {
	width: 840px;
}

.w-850 {
	width: 850px;
}

.w-860 {
	width: 860px;
}

.w-880 {
	width: 880px;
}

.w-895 {
	width: 895px;
}

.w-906 {
	width: 906px;
}

.w-930 {
	width: 930px;
}

.w-950 {
	width: 950px;
}

.w-960 {
	width: 960px;
}

.w-970 {
	width: 970px;
}

.w-1028 {
	width: 1028px;
}

.w-1010 {
	width: 1010px;
}

.w-1100 {
	width: 1100px;
}

.w-1115 {
	width: 1115px;
}

.w-1116 {
	width: 1116px;
}

.w-1130 {
	width: 1130px;
}

.w-1136 {
	width: 1136px;
}

.w-1140 {
	width: 1140px;
}

.w-1150 {
	width: 1150px;
}

.w-1168 {
	width: 1168px;
}

.w-1170 {
	width: 1170px;
}

.w-1198 {
	width: 1198px;
}

.w-1200 {
	width: 1200px;
}

.w-1210 {
	width: 1210px;
}

.w-1216 {
	width: 1216px;
}

.w-1224 {
	width: 1224px;
}

/* height */
.hg-1 {
	height: 1px;
}

.hg-5 {
	height: 5px;
}

.hg-8 {
	height: 8px;
}

.hg-10 {
	height: 10px;
}

.hg-11 {
	height: 11px;
}

.hg-12 {
	height: 12px;
}

.hg-22 {
	height: 22px;
}

.hg-24 {
	height: 24px;
}

.hg-26 {
	height: 26px;
}

.hg-28 {
	height: 28px;
}

.hg-30 {
	height: 30px;
}

.hg-32 {
	height: 32px;
}

.hg-34 {
	height: 34px;
}

.hg-35 {
	height: 35px;
}

.hg-36 {
	height: 36px;
}

.hg-39 {
	height: 39px;
}

.hg-40 {
	height: 40px;
}

.hg-42 {
	height: 42px;
}

.hg-44 {
	height: 44px;
}

.hg-45 {
	height: 45px;
}

.hg-46 {
	height: 46px;
}

.hg-54 {
	height: 54px;
}

.hg-57 {
	height: 57px;
}

.hg-58 {
	height: 58px;
}

.hg-60 {
	height: 60px;
}

.hg-64 {
	height: 68px;
}

.hg-68 {
	height: 68px;
}

.hg-72 {
	height: 72px;
}

.hg-90 {
	height: 90px;
}

.hg-120 {
	height: 120px;
}

.hg-140 {
	height: 140px;
}

.hg-145 {
	height: 145px;
}

.hg-164 {
	height: 164px;
}

.hg-165 {
	height: 165px;
}

.hg-168 {
	height: 168px;
}

.hg-170 {
	height: 170px;
}

.hg-135 {
	height: 135px;
}

.hg-185 {
	height: 185px;
}

.hg-193 {
	height: 193px;
}

.hg-200 {
	height: 200px;
}

.hg-225 {
	height: 225px;
}

.hg-228 {
	height: 228px;
}

.hg-230 {
	height: 230px;
}

.hg-338 {
	height: 338px;
}

.hg-390 {
	height: 390px;
}

.hg-500 {
	height: 500px;
}

/* color */
.gray3 {
	color: #3e3e3e;
}
.gray7 {
	color: #797979;
}
.gray9 {
	color: #999;
}

/*border-shadow start*/
.bd-sd-b {
	-webkit-box-shadow: 0px 2px 8px #f2f2f2;
	-moz-box-shadow: 0px 2px 8px #f2f2f2;
	box-shadow: 0px 2px 8px #f2f2f2;
}

.bd-rd-6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.bd-rd-22 {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px
}

.bd-rd-23 {
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px
}

.bd-rrd-23 {
	-webkit-border-bottom-right-radius: 23px;
	-moz-border-bottom-right-radius: 23px;
	border-bottom-right-radius: 23px;
	-webkit-border-top-right-radius: 23px;
	-moz-border-top-right-radius: 23px;
	border-top-right-radius: 23px;
}

.bd-rd-36 {
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px
}

.bd-rd-70 {
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px
}

.bd-rd-50-per {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.bd-2s-e9511b {
	border: 2px solid #e9511b;
}

.bd-1s-e9511b {
	border: 1px solid #e9511b;
}

.bd-1s-ffffff {
	border: 1px solid #ffffff;
}

.bd-1s-ededed {
	border: 1px solid #ededed;
}

.bd-ts-ededed {
	border-top: 1px solid #ededed;
}

.bd-1s-d5d5d5 {
	border: 1px solid #d5d5d5;
}

.bd-1s-e2e2e2 {
	border: 1px solid #e2e2e2;
}

.bd-1s-ececec {
	border-bottom: 1px solid #ececec;
}

.bd-bs-f8f8f8 {
	border-bottom: 1px solid #f8f8f8;
}

.bd-bs-e9511b {
	border-bottom: 1px solid #e9511b;
}

.bd-bs-e7e7e7 {
	border-bottom: 1px solid #e7e7e7;
}

.bd-bs-f3f3f3 {
	border-bottom: 1px solid #f3f3f3;
}

.bd-bd-c7c7c7 {
	border-bottom: 1px dashed #c7c7c7;
}

.bd-td-798a93 {
	border-top: 1px dashed #798a93;
}

.bd-td-d1d1d1 {
	border-top: 1px dashed #d1d1d1;
}

.bd-bs3-fcfcfc {
	border-bottom: 3px solid #fcfcfc;
}

.bd-bs3-e9511b {
	border-bottom: 3px solid #e9511b;
}

.bd-bs2-f39f82 {
	border-bottom: 2px solid #f39f82;
}

.bd-rs1-ececec {
	border-right: 1px solid #ececec;
}

.bd-bs-d8d8d8 {
	border: 1px solid #d8d8d8;
}

.bd-n-left {
	border-left: none;
}

.line-h18 {
	line-height: 18px;
}

.line-h20 {
	line-height: 20px;
}

.line-h22 {
	line-height: 22px;
}

.line-h24 {
	line-height: 24px;
}

.line-h25 {
	line-height: 25px;
}

.line-h26 {
	line-height: 26px;
}

.line-h28 {
	line-height: 28px;
}

.line-h30 {
	line-height: 30px;
}

.line-h32 {
	line-height: 32px;
}

.line-h34 {
	line-height: 34px;
}

.line-h35 {
	line-height: 35px;
}

.line-h36 {
	line-height: 36px;
}

.line-h39 {
	line-height: 39px;
}

.line-h40 {
	line-height: 40px;
}

.line-h42 {
	line-height: 42px;
}

.line-h44 {
	line-height: 44px;
}

.line-h45 {
	line-height: 45px;
}

.line-h46 {
	line-height: 46px;
}

.line-h50 {
	line-height: 50px;
}

.line-h54 {
	line-height: 54px;
}

.line-h55 {
	line-height: 55px;
}

.line-h58 {
	line-height: 58px;
}

.line-h60 {
	line-height: 60px;
}

.line-h75 {
	line-height: 75px;
}

.m-hg-400 {
	min-height: 400px;
}

.bg-c-222222 {
	background-color: #222222;
}
.bg-c-32333b {
	background-color: #32333b;
}
.bg-c-e9511b {
	background-color: #e9511b;
}

.bg-c-fcfcfc {
	background-color: #fcfcfc;
}

.bg-c-ffffff {
	background-color: #ffffff;
}
.bg-c-f4f4f4 {
	background-color: #f4f4f4;
}

.bg-c-e5e5e5 {
	background-color: #e5e5e5;
}

.bg-c-e3e3e3 {
	background-color: #e3e3e3;
}

.bg-c-cccccc {
	background-color: #cccccc;
}

.bg-c-d2d2d2 {
	background-color: #d2d2d2;
}

.bg-c-505050 {
	background-color: #505050;
}

.bg-c-fcfcfc {
	background-color: #fcfcfc;
}

.bg-c-f6f6f6 {
	background-color: #f6f6f6;
}

.bg-c-6595e4 {
	background-color: #6595e4;
}

.bg-c-f3f3f3 {
	background-color: #f3f3f3;
}

.bg-c-f2f2f2 {
	background-color: #f2f2f2;
}

.bg-c-f5f5f5 {
	background-color: #f5f5f5;
}

.bg-c-77be6b {
	background-color: #77be6b;
}

.bg-c-897eff {
	background-color: #897eff;
}

.bg-c-ececec {
	background-color: #ececec;
}

.bg-c-ea5504 {
	background-color: #ea5504;
}

.bg-c-fafafa {
	background-color: #fafafa;
}

.ql_icon{
	background-image: url("../images/qf_icon.png");
	background-repeat:no-repeat;
}

.index_notice_icon {
	background-image: url("../images/index_notice_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.index_rec_teacher_icon {
	background-image: url("../images/index_rec_teacher_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.index_newlesson_icon {
	background-image: url("../images/index_newlesson_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.index_rec_lesson_icon {
	background-image: url("../images/index_rec_lesson_icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.line_h3 {
	background: url('../images/con_h3.gif') no-repeat left center;
}

.ban_adbg {
	background: url('../images/ban_adbg.png') no-repeat left top;
}

.ql_navigation {
	background-position: right top;
	background-repeat: no-repeat;
	padding-right: 28px;
	margin-right: -28px;
}

.ql_titbg {
	background: url('../images/ql_titbg.png') no-repeat center top;
}

.line {
	background-image: url("../images/line.png");
	background-repeat: no-repeat;
	background-position: right center;
}

.ql_zan {
	background: url('../images/ql_zan0.png') no-repeat left top;
}

.dh_topnav {
	background-position: -0px -10px;
}

.top_wapewem {
	background-position: -15px -10px;
}

.login_icon {
	background-position: -30px -10px;
}
.go-login:hover .login_icon {
	background-position: -30px -55px;
}

.mylesson-icon {
	background-position: -54px -10px;
}

.top_dhnav {
	background-position: -50px -18px;
}

.top_ucentericon {
	background-position: -79px -10px;
}

.ql_h_news {
	background-position: 0px 14px;
}

.ql_h_class {
	background-position: -22px -100px;
}

.ql_h_btnfr {
	background-position: -89px 0px;
}

.ql_h_tea {
	background-position: -44px -100px;
}

.ql_like {
	background-position: -66px -105px;
}

.ql_time {
	background-position: -162px -34px;
}


/*top 导航和手机端 start*/
.hover-topnav,.hover-ucenter {
	position: relative;
}

.hover-topnav:hover {
	background-color: white;
}

.hover-topnav:hover .dh_nav_sub,.hover-topnav:hover .top_wap_ewem,.hover-ucenter:hover .top_ucenter_list {
	display: block;
}

.hover-topnav:hover .dh_nav span,.hover-topnav:hover .top_wap_ewem span {
	color: #e9511b;
}

.hover-topnav:hover .dh_topnav {
	background-position: 0px -55px;
}

.hover-topnav:hover .top_wapewem {
	background-position: -15px -55px;
}

.dh_nav_sub {
	display: none;
	width: 250px;
	border: 1px solid #efefef;
	border-top: 0px;
	background-color: white;
	overflow: hidden;
	position: absolute;
	left: -13px;
	top: 45px;
	padding: 15px;
	transition: all 0.5s;
	z-index: 1;
}

.top_wap_ewem {
	width: 100px;
	display: none;
	position: absolute;
	padding: 3px 7px 3px 13px;
	border: 1px solid #efefef;
	border-top: 0px;
	transition: all 0.5s;
	z-index: 1;
}

.top_wap_ewem img {
	display: block;
}

.dh_nav_sub li,.top_ucenter_list li {
	float: left;
}

.dh_nav_sub li a,.top_ucenter_list li a {
	display: block;
	color: #414141;
	font-size: 13px;
	line-height: 32px;
	float: left;
}

.dh_nav_sub li a {
	width: 74px;
	margin-right: 8px;
}

.dh_nav_sub li a i {
	background-position: -50px -25px;
	padding-left: 5px;
	margin-right: 5px;
}
/*top 导航和手机端 end*/

/* top顶部搜索框 */
.search .search-form select{
    width: 76px;
    background-image: url(../images/top-search-icon.png);
	background-color: #fff;
    background-repeat: no-repeat;
    background-position: 51px center;
    background-size: auto 6px;
    -webkit-appearance: none;
    -o-appearance:none;
    -ms-appearance:none;
}

/*top 我的课程*/
.my-lesson a:hover {
	color: #E9511B;
}
.my-lesson a>i {
	font-size: 14px;
	vertical-align: middle;
}

/*顶部右侧个人中心*/
.hover-ucenter:hover .top_ucenter {
	color: #e9511b;
}

.hover-ucenter:hover .top_ucentericon {
	background-position: -79px -55px;
}

.top_ucenter_list {
	display: none;
    border: 1px solid #ececec;
    border-top: 0px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    right: -20px;
    top: 45px;
    transition: all 0.5s;
	z-index: 10;
}

.top_ucenter_list li a{
	width: 85px;
	padding: 5px 10px;
	text-align: center;
}

.top_ucenter_list li a:hover{
	background-color: #e2e2e2;
}


/* 网站 导航 */
.hc_lnav {
	z-index: 9999;
	position: relative;
	width: 250px;
}

.hc_lnav .allbtn {
	z-index: 99999;
	position: relative
}

.hc_lnav .allbtn h2 {
	font-size: 14px;
}

.hc_lnav .allbtn h2 a {
	line-height: 60px;
	background: url(../images/all_navicon.png) #e9511b no-repeat left top;
	width: 250px;
	text-align: center;
	display: block;
	height: 60px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-size: 18px;
}

.hc_lnav .allbtn h2 i {
}

.hc_lnav .allbtn h2 strong {
}

.hc_lnav .allbtn ul {
	z-index: 99999;
	position: absolute;
	background-color: rgba(3,51,84,0.9);
	width: 250px;
	display: none;
	height: 400px;
	top: 60px;
	left: 0px
}

.hc_home .hc_lnav .allbtn ul {
	display: block
}

.hc_list .hc_lnav .allbtn ul {
	display: block
}

.hc_lnav .allbtn ul li {
	padding-top: 7px;
	zoom: 1;
	clear: both;
	cursor: default;
	background: url('../images/ql_danav.png') no-repeat right center;
	height: 73px;
}

.hc_lnav .allbtn ul li .tx {
	line-height: 25px;
	text-indent: 15px;
	height: 25px;
}

.hc_lnav .allbtn ul li .tx a {
	color: #ffffff;
	font-size: 18px;
}

.hc_lnav .allbtn ul li dl {
	zoom: 1;
	color: #ffffff;
	clear: both;
	overflow: auto;
	width: 100%;
}

.hc_lnav .allbtn ul li dl dd {
	width: 205px;
	margin-left: 15px;
}

.hc_lnav .allbtn ul li dl dd.main-area{
	height: 45px;
    overflow: hidden;
}

.hc_lnav .allbtn ul li dl a,.hc_lnav .allbtn ul li dl span {
	font-size: 14px;
	line-height: 45px;
	white-space: nowrap;
	float: left;
	color: #ffffff;
}

.hc_lnav .allbtn ul li dl a{
	margin: 0 10px;
}

.hc_lnav .allbtn ul li dl span {
	margin: 0px 12px;
}

.hc_lnav .allbtn ul li .pop {
	position: absolute;
	background-color: rgba(247, 247, 247, 0.96);
	height: 398px;
	width: 600px;
	padding-left: 25px;
	display: none;
	min-height: 398px;
	top: 0px;
	left: 250px;
	border: 1px #d8d8d8 solid;
}

.hc_lnav .allbtn ul li .pop dl {
	width: 100%;
	margin: 10px 0px 15px 0px;
}

.hc_lnav .allbtn ul li .pop dt {
	width: 70px;
	float: left;
}

.hc_lnav .allbtn ul li .pop dt a {
	display: block;
	font-size: 14px;
	color: #000000;
	float: left;
	line-height: 29px;
}

.hc_lnav .allbtn ul li .pop dd {
	line-height: 22px;
	width: 515px;
	float: left;
}

.hc_lnav .allbtn ul li .pop dd a,.hc_lnav .allbtn ul li .pop dd span {
	font-size: 14px;
	color: #636363;
	float: left;
	line-height: 29px;
}
.hc_lnav .allbtn ul li .pop dt a:hover,.hc_lnav .allbtn ul li .pop dd a.ui-link:hover{
	color: #e9511b;
}
.hc_lnav .allbtn ul li .pop dd a.no-border{
	border: none;
}

.hc_lnav .allbtn ul li .pop dd a {
	padding: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 29%;
    text-align: center;
    overflow: hidden;
}

.hc_lnav .allbtn ul li .pop .act {
	width: 100%;
	height: 80px;
	overflow: hidden;
	padding-top: 10px
}

.hc_lnav .allbtn:hover ul {
	display: block
}

.hc_lnav .allbtn ul li:hover {
	background-color: #e9511b;
}

.hc_lnav .allbtn ul li:hover .tx a {
	color: #ffffff
}

.hc_lnav .allbtn ul li:hover .pop {
	display: block;
	top: 0px;
	left: 250px
}

.hc_lnav .allbtn ul li:hover a {
	color: #ffffff;
}

/* 网站 导航 */
.ql_nav {
	position: absolute;
	left: 250px;
	top: 0px;
	z-index: 9998;
}

.ql_nav li {
	float: left;
}

.ql_nav li a {
	float: left;
	display: block;
	font-size: 18px;
	line-height: 60px;
	color: #000000;
	margin-left: 48px;
}

.ql_nav li a:hover,.ql_nav li a.cur {
	color: #e00200;
}

/*footer link start*/
.ql_link {
	width: 1135px;
}

.ql_link li {
	float: left;
}

.ql_link li a {
	display: block;
	font-size: 12px;
	line-height: 30px;
	float: left;
	color: #a9a9a9;
	padding: 0px 13px;
	background-image: url("../images/line.png");
	background-repeat: no-repeat;
	background-position: right top;
}

.ql_link li:last-child a {
	background-image: none;
}

/*footer nav start*/
.qlfooter_nav dl.ql_f_nav {
	width: 200px;
	margin-right: 20px;
}

.qlfooter_nav dl dt,.qlfooter_nav dl dt a {
	display: block;
	width: 200px;
	float: left;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	line-height: 35px;
}

.qlfooter_nav dl dd {
	width: 100px;
	float: left;
}

.qlfooter_nav dl dd a {
	display: block;
	width: 100px;
	float: left;
	font-size: 14px;
	color: #313131;
	line-height: 32px;
}

.qlfooter_nav dl dd a i {
	padding-left: 4px;
	background-image: url("../images/qf_icon.png");
	background-repeat: no-repeat;
	background-position: -50px -55px;
	height: 32px;
	float: left;
	margin-right: 10px;
}

.ql_f_navzp dd:last-child a {
	background: url("../images/qlf_zpicon.gif") no-repeat right center;
}

/*footer info start*/
.ql_f_infp h3 {
	width: 200px;
	float: left;
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	line-height: 35px;
}

.ql_f_infp p {
	width: 100%;
	float: left;
	font-size: 14px;
	color: #efefef;
	line-height: 33px;
}

.ql_f_infp p i {
	padding-left: 4px;
	background-image: url("../images/qf_icon.png");
	background-repeat: no-repeat;
	background-position: -50px -55px;
	height: 32px;
	float: left;
	margin-right: 10px;
}

.class_cur {
	background-color: #e9511b;
	color: #ffffff;
}

/*课程*/
.home_calss {
	margin-left: -13px;
}

.home_calss li,.ql_likeclass li {
	position: relative;
}

.home_calss li a,.ql_likeclass li a,.ql_sclist li a.ql_sc_img {
	position: relative;
}

.home_calss li a img {
	position: absolute;
	width: 280px;
	height: 200px;
	top: 0px;
	left: 0px;
}

.home_calss li:hover img {
	width: 336px;
	height: 240px;
	left: -28px;
	top: -20px;
	transition: all 0.5s;
}

.home_calss li:hover,.ql_likeclass li:hover {
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	top: -8px;
	transition: all 0.5s;
}

.ql_sclist li:hover,.rig_scool li:hover,.ql_news li:hover {
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
	transition: all 0.5s;
}

.ql_likeclass li a img {
	position: absolute;
	width: 230px;
	height: 165px;
	top: 0px;
	left: 0px;
}

.ql_likeclass li:hover img {
	width: 276px;
	height: 198px;
	left: -23px;
	top: -16.5px;
	transition: all 0.5s;
}

.ql_sclist li a.ql_sc_img img {
	position: absolute;
	width: 224px;
	height: 168px;
	top: 0px;
	left: 0px;
}

.ql_sclist li:hover a.ql_sc_img img {
	width: 336px;
	height: 252px;
	left: -56px;
	top: -42px;
	transition: all 0.5s;
}

/*排序*/
.ql_sort dd a{
	color: #4c4c4c; 
}
.ql_sort dd a:hover, .ql_sort dd a.cur {
	color: #e9511b;
}


/*分页 start*/
.ql_pages li a {
	display: block;
	width: 66px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background-color: #ffffff;
	margin: 0px 5px;
	font-size: 14px;
	color: #000000;
	border: 1px #e9511b solid;
}

.ql_pages li{
	display: inline-block;
}

.ql_pages li a.end, .ql_pages li a.end:hover{
	color: #bcbcbc;
    border: none;
    background-color: #e3e3e3;
}

.ql_pages li a:hover,.ql_pages li a.cur {
	background-color: #e9511b;
	color: #ffffff;
}

/*讲师列表 star*/
.ql_dwom li a:hover h3,.ql_dwom li a:hover span {
	color: #e9511b;
	transition: all 0.5s;
}
/*新闻列表 start*/
.ql_news li a.ql_news_img img {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 0px;
	left: 0px;
}
.ql_news li:hover a h3,.ql_news li:hover a p {
	color: #e9511b;
}

#qltabnav li {
	float: left;
	width: 60px;
}

#qltabnav li a {
	display: block;
	line-height: 54px;
	text-align: center;
	width: 60px;
	height: 54px;
	font-size: 14px;
	font-weight: 900;
	color: #000000;
	margin-left: 22px;
}

#qltabnav li a.tabnavcur {
	color: #e9511b;
	border-bottom: 3px solid #e9511b;
}

.qlform_img {
	width: 206px;
	height: 77px;
	position: fixed;
	display: block;
	z-index: 999;
	bottom: 325px;
	left: 0px;
}

.qladv_news_img, .qladv_news_img img{
	width: 320px;
	height: 180px;
	overflow: hidden;
}

.qladv_news_img:hover img{
	width: 360px;
    height: 203px;
    margin-left: -20px;
    margin-top: -20px;
    transition: all 0.5s;
}

.form_bg {
	background: url("../images/form_bg.png") no-repeat center top;
	position: fixed;
	bottom: 0px;
	display: none;
}

.qlform_close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: -30px;
	right: 0px;
	cursor: pointer;
}

.qlform_close:hover {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
/* IE 9 */
	-moz-transform: rotate(90deg);
/* Firefox */
	-webkit-transform: rotate(90deg);
 /* Safari 和 Chrome */
	-o-transform: rotate(90deg);
/* Opera */
	transition: all 0.5s;
}

/*荣誉资质*/
#images {
	width: 1116px;
	overflow: hidden;
}

#images a {
	float: left;
	width: 360px;
	height: 325px;
	background-color: #f7f7f7;
	margin: 15px 6px 2px 6px;
}

#images a img {
	border: 1px solid #eaeaea;
	display: block;
}

#images a h3 {
	width: 350px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 18px;
	background-color: #ffffff;
	color: #414141;
	padding: 0px 10px;
	float: left;
}

#imgbox-loading {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
	z-index: 90;
}

#imgbox-loading div {
	background: #FFF;
	width: 100%;
	height: 100%;
}

#imgbox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	z-index: 80;
}

.imgbox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	display: none;
	z-index: 90;
}

.imgbox-img {
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.ps-f {
	position: fixed;
	top: 0px;
	z-index: 99999;
}

.qlban_ad {
	right: 0px;
	top: 42px;
	z-index: 999999;
}

.search-condition:hover{
	background-color: #e9511b;
    color: #ffffff;
}


/* 课程列表样式 */
.market-price{
	font-weight: normal;
    font-style: normal;
    color: #999;
    font-size: 13px;
    margin-right: 8px;
    text-decoration: line-through;
}
.course-list>ul {
	padding-top: 10px;
	margin: 0;
	padding: 0;
}

.course-list>ul:after {
	display: block;
	content: "";
	height: 0;
	clear: both;
	overflow: hidden
}

.course-list>ul>li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px
}

.course-list>ul>li:nth-child(4n) {
	margin-right: 0
}

.course-list>ul>li>a {
	display: block;
	position: relative;
	width: 285px;
	height: 256px;
	box-shadow: 0 4px 10px rgba(20,20,20,.1)
}

.course-list>ul>li>a>.cover,.course-list>ul>li>a>.cover>img {
	display: block;
	width: 285px;
	height: 172px
}

.course-list>ul>li>a>.cover {
	position: relative;
	overflow: hidden
}

.course-list>ul>li>a>.cover .ico_common{
	display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.ico-new{
	background-image: url(../images/lesson_new_icon.png);
}

.ico-hot{
	background-image: url(../images/lesson_hot_icon.png);
}

.ico-vip{
	background-image: url(../images/lesson_vip_icon.png);
}

.ico-discount{
	background-image: url(../images/lesson_discount_icon.png);
}

.course-list>ul>li>a>.cover:before {
	display: none;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
	transition: all ease-in .2s
}

.course-list>ul>li>a>.cover:after {
	display: block;
	content: "";
	position: absolute;
	top: 32%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
	width: 128px;
	height: 128px;
	opacity: 0;
	background: url('../images/icon-playbar.png') center no-repeat;
	background-size: cover;
	transition: all ease-in .2s
}

.course-list>ul>li>a>.cover>.type {
	position: absolute;
	right: -29px;
	top: 16px;
	display: block;
	transform: rotate(45deg);
	background: #34bf49;
	color: #fff;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px
}

.course-list>ul>li>a>.info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	font-size: 12px;
	background: #fff;
	color: #999
}

.course-list>ul>li>a>.info>p {
	line-height: 32px
}

.course-list>ul>li>a>.info>.title {
	font-size: 14px;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.course-list>ul>li>a>.info>.item1:after {
	display: block;
	content: "";
	height: 0;
	clear: both
}

.course-list>ul>li>a>.info>.item1>.click {
	display: block;
	float: left;
	height: 32px;
	overflow: hidden
}

.course-list>ul>li>a>.info>.item1>.click>.click-count-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: -4px;
	background-image: url("../images/icon-eye-16.png");
	background-repeat: no-repeat;
}

.course-list>ul>li>a>.info>.item1>.money:before,.course-list>ul>li>a>.info>.item1>.vip-money>em:before,.course-list>ul>li>a>.info>.item1>.vip:before {
	content: "\ffe5"
}

.course-list>ul>li>a>.info>.item1>.type {
	display: block;
	float: right;
	border-radius: 3px;
	margin-top: 6px;
	line-height: 22px;
	color: #ff743f
}

.course-list>ul>li>a>.info>.item1>.type>em {
	display: inline-block;
	background: #e14b4c;
	color: #fff;
	border-radius: 2px
}

.course-list>ul>li>a>.info>.item1>.free {
	font-size: 12px;
    padding: 1px 8px;
    color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #d7b262;
    background-image: -webkit-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -moz-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -o-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -ms-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: linear-gradient(to top, rgba(55,55,55,.33), rgba(188,188,188,.33));
}

.course-list>ul>li>a>.info>.item1>.price {
	font-size: 14px;
    font-weight: 600;
    color: #b78935;
}

.course-list>ul>li>a>.info>.item1>.point {
	color: #449ee1
}

.course-list>ul>li>a>.info>.item1>.money {
	color: #e14b4c
}

.course-list>ul>li>a>.info>.item1>.vip-money {
	background: #e14b4c;
	color: #fff;
	padding: 0 5px;
	margin-left: 5px
}

.course-list>ul>li>a>.info>.item1>.vip {
	color: #ffa200
}

.course-list>ul>li>a>.info>.item1>.vip>em {
	background: #ffa200;
	padding: 0 5px
}

.course-list>ul>li>a>.info>.item2 {
	display: none;
	margin-bottom: 10px;
	border-bottom: solid 1px #eee
}

.course-list>ul>li>a>.info>.item2:after {
	display: block;
	content: "";
	height: 0;
	clear: both
}

.course-list>ul>li>a>.info>.item2>.teacher {
	display: block;
	float: left;
	max-width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.course-list>ul>li>a>.info>.item2>.teacher>img {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
	border-radius: 50%
}

.course-list>ul>li>a>.info>.item2>.count {
	display: block;
	float: right
}

.course-list>ul>li>a>.info>.item2>.count>.section-count-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: -4px;
	background-image: url("../images/icon-play-16.png");
	background-repeat: no-repeat;
}

.mask>.modal>.bd>.modal-content dl>dd input,.mask>.modal>.bd>.modal-content dl>dd select,.mask>.modal>.bd>.modal-content dl>dd textarea {
	vertical-align: top;
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #666
}

.course-list>ul>li>a>.info>.description {
	display: none;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 13px;
	text-indent: 2em;
}

.course-list>ul>li>a>.info>.update-info {
	display: none;
	line-height: 24px;
    height: 45px;
    overflow: hidden;
	letter-spacing: 0;
}

.course-list>ul>li>a>.info>.update-info>span{
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-list>ul>li>a>.info>.update-info .section-title{
	font-size: 14px;
    color: #e9511b;
}
.course-list>ul>li>a>.info>.update-info .section-title .section-title-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: -3px;
	background-image: url("../images/icon-section-title-16.png");
	background-repeat: no-repeat;
}

.course-list>ul>li>a>.info>.update-info .update-time{
	font-size: 12px;
}

.course-list>ul>li>a>.info>.update-info  .update-time .section-update-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: -4px;
	background-image: url("../images/icon-time-16.png");
	background-repeat: no-repeat;
}

.course-list>ul>li>a:hover {
	transform: scale(1.06)
}

.course-list>ul>li>a:hover>.cover:before {
	display: block
}

.course-list>ul>li>a:hover>.cover:after {
	margin-top: -24px;
	margin-left: -30px;
	opacity: 1;
	width: 60px;
	height: 60px;
	transition: all ease-in .2s
}

.course-list>ul>li>a:hover>.info>.title {
	color: #000;
	font-weight: 700
}

.course-list>ul>li>a:hover>.info>.item1 {
	display: none
}

.course-list>ul>li>a:hover>.info>.description,.course-list>ul>li>a:hover>.info>.update-info,.course-list>ul>li>a:hover>.info>.item2 {
	display: block;
}

.course-list>.more {
	padding: 20px 0
}

.course-list>.more>a {
	display: block;
	width: 120px;
	height: 40px;
	border: 1px solid #eee;
	background: #fff;
	color: #666;
	line-height: 40px;
	text-align: center;
	margin: 0 auto
}

.course-list>.more>a:hover {
	background: #027cdb;
	color: #fff
}

/* 讲师列表课程样式 */
.course-card-item {
    float: left;
    width: 220px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    position: relative;
}
.course-card-item a .ico_common{
	display: block;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.course-card-item:hover{
	border: #ddd 1px solid;
}
.course-card-item .item-tt-link {
    color: #333;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.course-card-item .item-tt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    font-size: 14px;
    margin-bottom: 8px;
    position: relative;
}
.course-card-item .item-tt a{
	color: #333;
}
.course-card-item .item-line-bottom {
    height: 24px;
    line-height: 24px;
}
.course-card-item .item-line {
    overflow: hidden;
    margin-top: 0;
    height: 30px;
    font-size: 12px;
}
.course-card-item .item-line .line-cell:first-child {
    margin-left: 0;
}

.course-card-item .item-price.free {
    font-size: 12px;
    padding: 1px 8px;
    color: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #d7b262;
    background-image: -webkit-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -moz-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -o-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: -ms-linear-gradient(bottom, rgba(55,55,55,.33), rgba(188,188,188,.33));
    background-image: linear-gradient(to top, rgba(55,55,55,.33), rgba(188,188,188,.33));
}
.course-card-item .item-price.price{
	font-size: 14px;
    font-weight: 600;
    color: #b78935;
}
.course-card-item .item-line .line-cell {
    float: left;
    margin-left: 10px;
	margin-top: 2px;
}
.course-card-item .item-line .item-user-right {
    float: right;
}


/* 没有任何数据 */
.no-content {
    text-align: center;
    margin: 120px 0;
}
.no-content .msg-inner {
    display: inline-block;
    padding-left: 50px;
    position: relative;
}
.no-content .msg-text {
    line-height: 36px;
    font-size: 18px;
    color: #999;
    text-align: left;
}
.no-content .msg-text .i-info {
    color: #e9511b;
    font-size: 36px;
    vertical-align: middle;
}

/* 底部版权 */
.copyright p{
	font-size: 13px;
	line-height: 28px;
}


/* 遮罩层 */
.loading-mask_white{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.loadEffect{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 40%;
	z-index: 9999;
}
.loadEffect span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #ffffff;
	position: absolute;
	-webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.2;
	}
}
.loadEffect span:nth-child(1){
	left: 0;
	top: 50%;
	margin-top:-8px;
	-webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
	left: 14px;
	top: 14px;
	-webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
	left: 50%;
	top: 0;
	margin-left: -8px;
	-webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
	top: 14px;
	right:14px;
	-webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
	right: 0;
	top: 50%;
	margin-top:-8px;
	-webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
	right: 14px;
	bottom:14px;
	-webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	-webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
	bottom: 14px;
	left: 14px;
	-webkit-animation-delay:1.04s;
}


/* 遮罩弹窗层 */
.out-model-shadebg{ width:100%; height:100%; position: fixed; left:0; top:0; background:rgba(0,0,0,.6); z-index:9999; display: none;}
.out-model-shade button, .out-model-shade .btn-submit{ width:120px; height:42px; background:#f40; color:#fff; border:none; border-radius:6px; display: block; margin:20px auto; cursor: pointer;}
.out-model-shade{ position:fixed; width:600px; top:40%; left:50%; margin-top:-150px; margin-left:-300px; background:#fff; border-radius:8px; overflow: hidden; z-index:10000; display: none;}
.out-model-shade > span{ position: absolute; right:10px; top:0; height:42px; line-height:42px; color:#000; font-size:30px; cursor: pointer;}
.out-model-shade table{ display: block; margin:42px auto 0; width:520px;}
.out-model-shade caption{ width:520px; text-align: center; color:#f40; font-size:18px; line-height:42px;}
.out-model-shade table tr td{ color:#666; padding:6px; font-size:14px;}
.out-model-shade table tr td:first-child{ text-align: right;}
.inp{ width:280px; height:30px; line-height:30px; border:1px solid #999; padding:5px 10px; color:#000; font-size:14px; border-radius:6px;}
.inp:focus{ border-color:#f40;}
.out-model-shade .smBtn {
    display: inline-block;
    height: 28px;
    width: 90px;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.out-model-shade .btn-default {
    background: #f8f8f8;
    border-color: #ddd;
    color: #4B5459;
}
@keyframes ani{
	from{
		transform:translateX(-100%) rotate(-60deg) scale(.5);
	}
	50%{
		transform:translateX(0) rotate(0) scale(1);
	}
	90%{
		transform:translateX(20px) rotate(0) scale(.8);
	}
	to{
		transform:translateX(0) rotate(0) scale(1);
	}
}
.ani{ animation:ani .5s ease-in-out;}