@charset "utf-8";

.flex{display: box; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex;}
.flex-h{-webkit-box-orient: horizontal; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row;}
.flex-r{-webkit-box-orient: reverse; -moz-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -o-flex-direction: row-reverse; flex-direction: row-reverse;}
.flex-hw{-webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
.flex-hc{-webkit-box-pack: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.flex1{-webkit-box-flex: 1; -moz-box-flex: 1; width: 20%; -ms-flex: 1; flex: 1;}
.flex-v{-webkit-box-orient: vertical; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column;}
.flex-vw{-webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap;}
.flex-vc{-webkit-box-align: center; -moz-align-items: center;-ms-align-items: center; -o-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center;}
.flex-1{-webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; order: 1;}
.flex-ai{-webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center;}
.flex-fd{-webkit-box-pack: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}

/* 支付样式 */
.payContent{width:100%; overflow: hidden;}
.payContent .payOrders{margin:49px 0 20px; overflow: hidden;}
.payContent .payOrders h1{font-size:18px; line-height: 24px; margin-bottom: 8px; font-weight: 600;}
.payContent .payOrders .ordersNum{font-size:16px; color:#999; line-height: 20px;}
.payContent .payOrders .totalPrice{font-size:16px; color:#4B5459; line-height: 20px;}
.payContent .payOrders .totalPrice .price{font-weight: 600; color:#d7282d; display: inline-flex;align-items: baseline;}
.payContent .payment{border:1px solid #eaeaea; box-sizing: border-box;margin-bottom: 40px}
.payContent .payment .title{padding:10px 20px;font-size:14px; line-height: 20px; color:#999; background:#f7f7f7; border-bottom: 1px solid #efefef}
.payContent .payment .payMode{padding:10px 68px 20px 66px;}
.payContent .payment .payMode .items{width:220px; height: 80px; overflow: hidden; margin-left: 25px;cursor: pointer;}
.payContent .payment .payMode .items:first-child{margin-left: 0}
.payContent .payment .payMode .items .fakeInput{display: block; width:15px; height:15px; background: url('../images/boxselect.png') no-repeat; background-position: 0 -36px; margin-right: 10px;}
.payContent .payment .payMode .items .fakeInput:hover{background-position: 0px -55px}
.payContent .payment .payMode .items .fakeInput.checked{background-position: 0 -74px}
.payContent .payment .payMode .items .fakeInput.checked:hover{background-position: 0px -93px}
.payContent .payment .payMode .items .payIcon{display: block; width:140px; height: 48px; overflow: hidden;}
.payContent .payment .payMode .items .payIcon.alipay{background:url('../images/payment.png') no-repeat; background-position: 0 0}
.payContent .payment .payMode .items .payIcon.wxpay{background:url('../images/payment.png') no-repeat; background-position: 0 -70px}
.payContent .payment .payMode .items .payIcon.credit2{background:url('../images/payment.png') no-repeat; background-position: 0 -142px}
.payContent .payment .payMode .deposit{width:150px; position: relative; margin:0 15px; padding:10px 25px; background:#f6f6f6;}
.payContent .payment .payMode .deposit .arrow{width:0; height: 0; border:10px solid #f6f6f6;border-top-color: #fff; border-left-color: #fff;border-right-color: #fff;position: absolute; top:-20px;}
.payContent .payment .payMode .deposit .remainder{font-size:14px; line-height: 24px; color:#4B5459;}
.payContent .payment .payMode .deposit .remainder .price{display: inline-flex;align-items: baseline; font-weight: 600; color:#d7282d;}
.payContent .payment .payMode .deposit .remainder a{color:#2979FF;margin-left: 15px}
.payContent .payment .payMode .deposit .remainder a:hover{color:#d65a17; text-decoration: underline;}
.payContent .payment .payMode .deposit .payPassword{overflow: hidden;}
.payContent .payment .payMode .deposit .txt{font-size:14px; font-weight: 600;margin-bottom: 5px; color:#333; text-indent: 2px}
.payContent .payment .payMode .deposit .password{height: 28px; margin-bottom: 5px}
.payContent .payment .payMode .deposit .tips{font-size:12px; color:#999;line-height: 20px}
.payContent .payment .payMode .deposit .tips a{margin-left: 15px; color:#4B5459;}
.payContent .payment .payMode .deposit .tips a:hover{color:#d65a17; text-decoration: underline;}
.payContent .timeDown{font-size:14px; line-height: 20px; text-align: right; margin-top:4px;}
.payContent .timeDown span{color:#E5564D;}
.btn-primary{background-color: #D65A17; border: 1px solid #D65A17; color: #fff;}
.btn-ghost{background-color: #F9F7F5; border: 1px solid #e9511b; color: #e9511b;}
.bgBtn{display: inline-block; width: 168px; height: 50px; padding: 0; letter-spacing: normal; text-align: center; -moz-border-radius: 2px; border-radius: 2px; font-size: 18px; line-height: 50px;}

/* 微信支付二维码 */
.p-w-bd, .pay-weixin{zoom: 1; padding-left: 100px; font: 13px/150% Arial,Verdana,"\5b8b\4f53";}
.p-w-hd{margin-bottom: 20px; font-size: 18px; font-family: "Microsoft Yahei";}
.p-w-bd{padding-left: 130px; margin-bottom: 30px;}
.font-red{color: #e31613;}
.p-w-box{float: left; width: 300px;}
.pw-box-hd{margin-bottom: 20px; border: 1px solid #ddd; width: 298px; height: 298px;}
.pw-box-ft{height: 44px; padding: 8px 0 8px 125px; background: #ff7674 url('../images/pc_pay_wechat_icon.png') 50px 8px no-repeat;}
.pw-box-ft p{margin: 0; font-size: 14px; line-height: 22px; color: #fff; font-weight: 700;}
.pw-box-ft p{margin: 0; font-size: 14px; line-height: 22px; color: #fff; font-weight: 700;}
.p-w-sidebar{float: left; width: 379px; height: 421px; padding-left: 50px; margin-top: -20px; background: url('../images/pc_pay_wechat_bg.png') 50px 0 no-repeat;}
