<!--
 * 课程管理
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://www.fylesson.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件，未购买授权用户无论是否用于商业行为都是侵权行为！
 * 允许已购买用户对程序代码进行修改并在授权域名下使用，但是不允许对程序代码以
 * 任何形式任何目的进行二次发售，作者将依法保留追究法律责任的权力和最终解释权。
 * ============================================================================
-->

{if $op=='studyDurationDetails'}
	<script src="{MODULE_URL}template/web/style/echarts/echarts.common.min.js"></script>
{/if}

{if $op!='previewVideo'}
	{template 'common/header'}
	{template 'web/lesson/_header'}
{/if}
<link href="{MODULE_URL}template/web/style/fycommon.css" rel="stylesheet">


{if $operation == 'display'}
<!-- 课程列表 -->
	{template 'web/lesson/display'}

{elseif $operation == 'postlesson'}
<!-- 发布课程 -->
	{template 'web/lesson/postlesson'}

{elseif $operation == 'viewsection'}
<!-- 章节列表 -->
	{template 'web/lesson/viewsection'}

{elseif $operation == 'postsection'}
<!-- 发布章节 -->
	{template 'web/lesson/postsection'}

{elseif $operation == 'sectionTitle'}
<!-- 章节目录列表 -->
	{template 'web/lesson/sectionTitle'}

{elseif $operation == 'postSectionTitle'}
<!-- 发布章节目录 -->
	{template 'web/lesson/postSectionTitle'}

{elseif $operation == 'document'}
<!-- 课件资料 -->
	{template 'web/lesson/document'}

{elseif $op=='attribute'}
<!-- 课程属性列表 -->
	{template 'web/lesson/attribute'}

{elseif $op=='addAttribute'}
<!-- 添加课程属性 -->
	{template 'web/lesson/addAttribute'}

{elseif $op=='record'}
<!-- 学习记录 -->
	{template 'web/lesson/record'}

{elseif $op=='studyDuration'}
<!-- 学习时长汇总 -->
	{template 'web/lesson/studyDuration'}

{elseif $op=='studyDurationDetails'}
<!-- 单个会员学习时长走势 -->
	{template 'web/lesson/studyDurationDetails'}

{elseif $op=='updomain'}
<!-- 更新音视频域名 -->
	{template 'web/lesson/updomain'}

{elseif $op=='inform'}
<!-- 开课提醒列表 -->
	{template 'web/lesson/inform'}

{elseif $op=='informStudent'}
<!-- 发布开课课程 -->
	{template 'web/lesson/informStudent'}

{elseif $op=='previewVideo'}
<!-- 预览课程音视频 -->
	{template 'web/video/no-require-header-v'.$we7_version}
	{template 'web/lesson/_header'}
	{template 'web/lesson/previewVideo'}

{/if}

{if $op!='previewVideo'}
	{template 'common/footer'}
{/if}