<div class="memberLeft">
	<div class="avator-wapper">
		<div class="avator-mode">
			<img class="avator-img" src="{php echo $_SESSION['fy_lessonv2_'.$uniacid.'_avatar'];}" width="92" height="92">
			<div class="update-avator" style="bottom: -30px;">
				<p><a href="/{$uniacid}/memberInfo.html" class="js-avator-link">更换头像</a></p>
			</div>
		</div>
		<div class="des-mode">
			<p>{php echo $_SESSION['fy_lessonv2_'.$uniacid.'_nickname'];}</p>
			<span>{php echo $common['self_page']['studentno'] ? $common['self_page']['studentno'] : '学号';}：{php echo $_SESSION['fy_lessonv2_'.$uniacid.'_uid'];}</span>
		</div>
	</div>

	<div id="memberLeft-menu" class="menu_list">
		<h3 class="menu_head current">常用菜单</h3>
		<div class="menu_body {if in_array($_GPC['do'], $often_menu)}dsblock{else}hide{/if}">
			{if in_array('signin',$self_item)}
				<a class="{if $_GPC['do']=='signin'}actived{/if}" href="/{$uniacid}/signin.html">签到</a>
			{/if}
			{if in_array('coupon',$self_item)}
				<a class="{if $_GPC['do']=='coupon'}actived{/if}" href="/{$uniacid}/coupon.html">{php echo $common['self_page']['coupon'] ? $common['self_page']['coupon'] : '优惠券';}</a>
			{/if}
				<a class="{if $_GPC['do']=='mylesson' || $_GPC['do']=='orderDetails'}actived{/if}" href="/{$uniacid}/mylesson.html">我的订单</a>
			{if in_array('vip',$self_item) || $is_vip}
				<a class="{if $_GPC['do']=='myvip'}actived{/if}" href="/{$uniacid}/myvip.html">{php echo $common['self_page']['vip'] ? $common['self_page']['vip'] : 'VIP服务';}</a>
			{/if}
			{if in_array('myteacher',$self_item)}
				<a class="{if $_GPC['do']=='myteacher'}actived{/if}" href="/{$uniacid}/myteacher.html">{php echo $common['self_page']['myteacher'] ? $common['self_page']['myteacher'] : '讲师服务';}</a>
			{/if}
			{if in_array('reclesson',$self_item)}
				<a class="{if $_GPC['do']=='reclesson'}actived{/if}" href="/{$uniacid}/reclesson.html">{php echo $common['self_page']['reclesson'] ? $common['self_page']['reclesson'] : '课程邀请';}</a>
			{/if}
			{if in_array('studyDuration',$self_item)}
				<a class="{if $_GPC['do']=='studyduration'}actived{/if}" href="/{$uniacid}/studyduration.html">{php echo $common['self_page']['studyDuration'] ? $common['self_page']['studyDuration'] : '学习时长';}</a>
			{/if}
			{if in_array('history',$self_item)}
				<a class="{if $_GPC['do']=='history'}actived{/if}" href="/{$uniacid}/history.html">{php echo $common['self_page']['history'] ? $common['self_page']['history'] : '我的足迹';}</a>
			{/if}
			{if in_array('lesson',$self_item) || in_array('teacher',$self_item)}
				<a class="{if $_GPC['do']=='collect'}actived{/if}" href="/{$uniacid}/collect.html?type=1">我的收藏</a>
			{/if}
		</div>

		{if in_array('teachercenter',$self_item) || $global_teacher['id']}
		<h3 class="menu_head">讲师中心</h3>
		<div class="menu_body {if in_array($_GPC['do'], $teacher_menu)}dsblock{else}hide{/if}">
			{if $global_teacher['id']}
				<a class="{if $_GPC['do']=='teacher'}actived{/if}" href="/{$uniacid}/teacher.html?teacherid={$global_teacher['id']}" target="_blank">{php echo $teacher_page['mylesson'] ? $teacher_page['mylesson'] : '我的主页';}</a>
				<a class="{if $_GPC['do']=='teacherIncome'}actived{/if}" href="/{$uniacid}/teacherIncome.html">{php echo $teacher_page['incomeLog'] ? $teacher_page['incomeLog'] : '讲师收入';}</a>
				<a class="{if $_GPC['do']=='lessonCashLog'}actived{/if}" href="/{$uniacid}/lessonCashLog.html">{php echo $teacher_page['cashLog'] ? $teacher_page['cashLog'] : '提现记录';}</a>
				<a class="{if $_GPC['do']=='teacherAccount'}actived{/if}" href="/{$uniacid}/teacherAccount.html">{php echo $teacher_page['account'] ? $teacher_page['account'] : '讲师帐号';}</a>
				{if $teacher_platform['url']}
				<a href="{$teacher_platform['url']}" target="_blank">{php echo $teacher_platform['name'] ? $teacher_platform['name'] : '讲师平台';}</a>
				{/if}
			{else}
				<a class="{if $_GPC['do']=='applyTeacher'}actived{/if}" href="/{$uniacid}/applyTeacher.html">申请入驻</a>
			{/if}
		</div>
		{/if}

		{if in_array('sale',$self_item) || ($comsetting['is_sale']==1 && (($comsetting['sale_rank']==1) || ($comsetting['sale_rank']==2 && $is_vip)))}
		<h3 class="menu_head">分销中心</h3>
		<div class="menu_body {if in_array($_GPC['do'], $commission_menu)}dsblock{else}hide{/if}">
			<a class="{if $_GPC['do']=='myTeam'}actived{/if}" href="/{$uniacid}/myTeam.html">{php echo $salefont['my_team'] ? $salefont['my_team'] : '我的团队';}</a>
			<a class="{if $_GPC['do']=='commissionLog'}actived{/if}" href="/{$uniacid}/commissionLog.html">{php echo $salefont['commission_log'] ? $salefont['commission_log'] : '佣金明细';}</a>
			<a class="{if $_GPC['do']=='cashLog'}actived{/if}" href="/{$uniacid}/cashLog.html">{php echo $salefont['cash_log'] ? $salefont['cash_log'] : '提现明细';}</a>
			<a class="{if $_GPC['do']=='qrcode'}actived{/if}" href="/{$uniacid}/qrcode.html">{php echo $salefont['poster'] ? $salefont['poster'] : '推广海报';}</a>
		</div>
		{/if}

		<h3 class="menu_head">帐号管理</h3>
		<div class="menu_body {if in_array($_GPC['do'], $account_menu)}dsblock{else}hide{/if}">
			<a class="{if $_GPC['do']=='memberInfo'}actived{/if}" href="/{$uniacid}/memberInfo.html">个人信息</a>
			<a class="{if $_GPC['do']=='account'}actived{/if}" href="/{$uniacid}/account.html">帐号安全</a>
		</div>

		{if $self_navigation}
		<h3 class="menu_head">其他菜单</h3>
		<div class="menu_body hide">
			{loop $self_navigation $item}
			<a href="{$item['url_link']}" target="_blank">{$item['nav_name']}</a>
			{/loop}
		</div>
		{/if}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#memberLeft-menu h3.menu_head').click(function(){
			$(this).addClass('current').next('div.menu_body').slideToggle(300).siblings('div.menu_body').slideUp('slow');
			$(this).siblings().removeClass('current');
		});

		$('.avator-mode').hover(function(){
			$('.update-avator').css('bottom', '0px');
		},function(){
			$('.update-avator').css('bottom', '-30px');
		})
	});
</script>