{php include $this->template($template.'/_header')}
<style type="text/css">
.fieldwet-input{
	font-size: 18px !important;
}
</style>

<div class="baseWidth w-1200">
	<div class="w-main fs-12 ftc-7a7a7a line-h45 m-b-10">
		当前位置：<a href="/{$uniacid}/index.html" class="more ftc-414141">首页</a> &gt; <a href="/{$uniacid}/self.html" class="more ftc-414141">个人中心</a> &gt; {$title}
	</div>
	<div class="memberContent flex">
		{php include $this->template($template.'/_memberLeft')}

		<div class="memberRightLayout">
			<div class="memberCoupon flex flex-v">
				<ul class="commonTab flex flex-vc">
					<li class="items {if !$_GPC['status']}actived{/if}"><a class="tabsCard" href="/{$uniacid}/coupon.html?status=0">未使用</a></li>
					<li class="items {if $_GPC['status']==1}actived{/if}"><a class="tabsCard" href="/{$uniacid}/coupon.html?status=1">已使用</a></li>
					<li class="items {if $_GPC['status']==-1}actived{/if}"><a class="tabsCard" href="/{$uniacid}/coupon.html?status=-1">已过期</a></li>
					<li class="items convert"><a href="javascript:;" id="btn-convert-coupon" class="tabsCard"><i class="iconfont icon-convert-coupon vertical-middle"></i> 优惠码兑换</a></li>
				</ul>
				{if $list}
				<div class="couponList">
					<ul class="flex flex-vc flex-hw m-t-30">
						{loop $list $item}
						<li class="items flex flex-v {if $item['status']==1}used{elseif $item['status']==-1}Invalid{/if}">
							<div class="topType flex flex-v">
								<i class="toplit"></i>
								<i class="middlelit"></i>
								<div class="couponPrice">
									<span class="money fs-24">¥{$item['amount']}</span>
								</div>
								<div class="limit fs-13">
									{if $item['conditions']>0}
										订单订单金额满{$item['conditions']} 元可用
									{else}
										任意金额可用
									{/if}
								</div>
								<div class="time fs-13">有效期至 {php echo date('Y-m-d H:i:s', $item['validity']);}</div>
							</div>
							<div class="bootomType">
								<div class="name">获取途径：<span class="ftc-878686">{$source[$item['source']]}</span></div>
								<div class="tips">使用说明：<span class="ftc-878686">{$item['category_name']}，优惠券领取后即时生效，过期作废，每个订单最多使用1张。</span></div>
								<div class="handle flex flex-vc flex-hc">
									<a href="{$item['url']}" target="_blank">立即使用</a>
								</div>
								<div class="typeB"></div>
								<div class="typeC"></div>
								<i class="bottomlit"></i>
							</div>
						</li>
						{/loop}
					</ul>

					{if $pager}
					<div class="tfoot clearfix m-t-40">
						<div class="tfoot-page">
							<div class="pagination">
								{$pager}
							</div>
						</div>
					</div>
					{/if}
				</div>
				{else}
				<div class="empty-search">
					<div class="block">
						<i class="orders"></i>
						<p>没有找到任何优惠券</p>
					</div>
				</div>
			  {/if}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	var reload = false;
	$("#btn-convert-coupon").click(function(){
	    if(!login()) return false;

		swal({
			title: "课程优惠码转换",
			text: "",
			type: "input",
			showCancelButton: true,
			closeOnConfirm: false,
			confirmButtonColor: "#ec6c62",
			cancelButtonColor: "#ec6c62",
			animation: "slide-from-top",
			inputPlaceholder: "请输入课程优惠码"
		}, function(coupon_password) {
			if (coupon_password === false)
				return false;
			if (coupon_password === "") {
				swal.showInputError("请输入课程优惠码");
				return false
			}
			if (coupon_password.length != 18) {
				swal.showInputError("课程优惠码长度有误，请重新输入");
				return false
			}

			$.ajax({
				url:  "/{$uniacid}/lessonCoupon.html",
				type: "POST",
				data: {coupon_password:coupon_password}
			}).done(function(resdata) {
				var res =  JSON.parse(resdata);
				if(res.code==0){
					reload = true;
					swal("系统提示", res.message, "success");
				}else if(res.code==-1){
					swal("系统提示", res.message, "error");
				}
			}).error(function(err) {
				swal("系统提示", "网络错误，请稍候重试", "error");
			});
		});
	})

	$(document).on('click', '.swal-confirm',function(){
		if(reload){
			location.reload();
		}
	});
</script>


{php include $this->template($template.'/_footer')}