{php include $this->template($template.'/_header')}
<style type="text/css">
fieldset{display: none;}
</style>

<div class="baseWidth w-1200">
	<div class="w-main fs-12 ftc-7a7a7a line-h45 m-b-10">
		当前位置：<a href="/{$uniacid}/index.html" class="more ftc-414141">首页</a> &gt; <a href="/{$uniacid}/self.html" class="more ftc-414141">个人中心</a> &gt; {$title}
	</div>
	<div class="memberContent flex">
		{php include $this->template($template.'/_memberLeft')}

		<div class="memberRightLayout">
			<div class="myVipWrap flex flex-v">
				<ul class="commonTab flex flex-vc">
					<li class="items {if $_GPC['type']==1}actived{/if}"><a class="tabsCard" href="/{$uniacid}/credit.html?type=1">{php echo $self_page['credit1'] ? $self_page['credit1'].'明细' : '会员积分明细'}</a></li>
					<li class="items {if $_GPC['type']==2}actived{/if}"><a class="tabsCard" href="/{$uniacid}/credit.html?type=2">{php echo $self_page['credit2'] ? $self_page['credit2'].'明细' : '会员余额明细'}</a></li>
				</ul>
				
				{if $list}
					<div class="listContent">
						<div class="header flex flex-vc">
							<div class="txt w-80">编号</div>
							<div class="txt w-180">数额</div>
							<div class="txt w-550">备注</div>
							<div class="txt w-180">变动时间</div>
						</div>
						{loop $list $key $item}
						<ul class="flex flex-v mb20">
							<li class="items flex flex-vc">
								<p class="w-80 text-c">{$item['id']}</p>
								<p class="w-160 text-c">{$item['num']}</p>
								<p class="w-550 text-c">{$item['remark']}</p>
								<p class="w-160 text-c">{php echo date('Y-m-d H:i', $item['createtime'])}</p>
							</li>
						</ul>
						{/loop}

						{if $pager}
						<div class="tfoot clearfix m-t-40">
							<div class="tfoot-page">
								<div class="pagination">
									 {$pager}
								</div>
							</div>
						</div>
						{/if}
					</div>
				{else}
				<div class="empty-search pr">
					<div class="block">
						<i class="orders"></i>
						<p>没有找到符合条件的记录</p>
					</div>
				</div>
				{/if}
			</div>
		</div>
	</div>
</div>

{php include $this->template($template.'/_footer')}