{php include $this->template($template.'/_header')}
<link rel="stylesheet" href="{MODULE_URL}static/webapp/{$template}/css/lesson.css?v={$versions}">
<script type="text/javascript" src="{MODULE_URL}static/webapp/{$template}/js/jquery.qrcode.min.js"></script>

<div class="w-main m-auto">
	<div class="w-main fs-14 ftc-7a7a7a line-h45 m-t-10 m-b-10">
		当前位置：<a href="/{$uniacid}/index.html" class="more ftc-414141">首页</a> &gt; <a href="/{$uniacid}/search.html" class="more ftc-414141">全部课程</a> &gt; 《<a href="/{$uniacid}/lesson.html?id={$lesson['id']}" class="more ftc-414141">{$lesson['bookname']}</a>》{if $section['title']} &gt; {$section['title']}{/if}
	</div>

	{if !$sectionid}
	<!-- 封面图 -->
	<div class="course-cover">
		<div class="img-left-wrap">
			<img class="img-left" src="{$_W['attachurl']}{$lesson['images']}" alt="{$lesson['bookname']}">

			<div class="banner-cover">
				<div class="banner-cover-live">
					{if $show_isbuy}
						<a class="banner-cover-play" href="/{$uniacid}/lesson.html?id={$id}&sectionid={$first_section['id']}"> <i class="iconfont icon-play"></i></a>
						<div><span class="banner-cover-live-tips">开始学习</span></div>
					{else}
						{if $free_section}
						<a class="banner-cover-play" href="/{$uniacid}/lesson.html?id={$id}&sectionid={$free_section['id']}"> <i class="iconfont icon-play"></i></a>
						<div><span class="banner-cover-live-tips">免费试听</span></div>
						{/if}
					{/if}
				</div>
			</div>
		</div>

		<div class="text-right">
			<h1 class="book-title"><span class="title-main">{$lesson['bookname']}</span></h1>
			<div class="course-info">
				<span class="line-item">
					{$lesson['buyTotal']}{php echo $index_page['studyNum'] ? $index_page['studyNum'] : '人已学习';}
				</span>
				<i class="icon-sep"></i>
				{if $evaluate_score['score']}
				<span class="line-item">{$evaluate_score['score']}%好评</span>
				<i class="icon-sep"></i>
				{/if}
				<div class="line-item item-share js_share">
					<i class="iconfont icon-share vertical-minus-1"></i> 分享
					<div class="hover-tips tips-share js_share_panel">
						<ul >
							<li class="share-qq" data-type="qq"></li>
							<li class="share-qzone" data-type="qzone"></li>
							<li class="share-wechat" data-type="wechat"></li>
							<li class="share-sina" data-type="sina"></li>
						</ul>
					</div>
				</div>
				<span class="line-item btn-favorite">
					<i class="iconfont {php echo $collect ? 'icon-heart-o' : 'icon-heart';} vertical-minus-1"></i>
					<span>{php echo $collect ? '已收藏' : '收藏';}</span>
				</span>
				{if $poster_show}
				<span class="line-item sale-btn">
					<i class="sale-icon"></i>
					<span class="sale-content">
						{if $commisson1_amount && $comsetting['is_sale']}
							{php echo $lesson_page['shareIncome'] ? $lesson_page['shareIncome'] : '分享赚 ¥'.$commisson1_amount.'元';}
						{else}
							{php echo $lesson_page['inviteCard'] ? $lesson_page['inviteCard'] : '邀请卡';}
						{/if}
					</span>
				</span>
				{/if}
			</div>
			<div class="clear"></div>

			{if $poster_show}
			<!-- 课程分销 -->
			<div class="overlay sale-modal-shade"></div>
			<div class="modal sale-modal" style="width: 832px; margin-top:-199px; margin-left:-416px;">
				<div class="modal-hd">
					<h3 class="hd-tt js-modal-title">课程分享信息</h3><a href="javascript:void(0);" class="btn-close" title="关闭">×</a>
				</div>
				<div class="modal-bd modal-bd--padding">
					<div class="sale-url-wrapper">
						<h3>
							{if $commisson1_amount && $comsetting['is_sale']}
								邀请好友成为您的下级，每单最多收益<span class="hd-highlight"> ¥{$commisson1_amount}</span>
							{else}
								邀请好友一起来学习
							{/if}
						</h3>
						<p class="sale-desc"></p>
						<div class="url-card-wrapper">
							<div class="url-card-info">
								<h3 class="url-card-tt">方式一：复制课程链接</h3>
								<input type="text" class="url-string" id="lesson-url" value="{$share['link']}">
								<button class="btn-copy btn-m btn-default js-copy-url">复制</button>
								<p class="js-copy-tip gray-wordings"></p>
							</div>
							<div class="url-card-info url-card-info-qrcode">
								<h3 class="url-card-tt">方式二：分享课程海报</h3>
								<div class="url-qrcode" id="lesson-qrcode">
									
								</div>
								<p class="qrcode-tip">微信扫描二维码，长按课程海报后“发送给朋友”</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-ft">
					<a href="javascript:void(0);" title="关闭" class="js-modal-yes btn-default">关闭</a>
				</div>
			</div>
			<script type="text/javascript">
				jQuery('#lesson-qrcode').qrcode({width: 110, height: 110, text: "weixin://wxpay/bizpayurl?pr=Ld0SGPZ"});
				$('.sale-btn').click(function(){
					if(!login()){
						return false;
					}
					$('.sale-modal-shade').show();
					$('.sale-modal').show();
				});
				$('.btn-close,.js-modal-yes').click(function(){
					$('.sale-modal-shade').hide();
					$('.sale-modal').hide();
				});
				$('.js-copy-url').click(function(){
					var input = document.getElementById("lesson-url");
					input.select();
					document.execCommand("copy");
					alert("复制成功");
				})
			</script>
			{/if}

			{if $discount_lesson}
			<!-- 限时折扣 -->
			<div id="yuyue-banner" class="activity-banner">
				<div class="activity-type fl">
					<i class="iconfont icon-clock clock"></i> <strong>限时抢购</strong>
				</div>
				<div class="activity-message">
					距离结束 <i class="time_days" id="time_d"></i>
							<span id="time_h">00</span>:
							<span id="time_m">00</span>:
							<span id="time_s">00</span>
				</div>
			</div>
			<script type="text/javascript">
				setTimeout("show_time()",1000);
				var time_d = document.getElementById("time_d");
				var time_h = document.getElementById("time_h");
				var time_m = document.getElementById("time_m");
				var time_s = document.getElementById("time_s");
				 
				var time_end = new Date("<?php echo $discount_endtime; ?>"); // 设定结束时间
				time_end = time_end.getTime();
				 
				function show_time(){
					var time_now = new Date(); // 获取当前时间
					time_now = time_now.getTime();
					var time_distance = time_end - time_now; // 结束时间减去当前时间
					var int_day, int_hour, int_minute, int_second;
					if(time_distance >= 0){
						// 天时分秒换算
						int_day = Math.floor(time_distance/86400000)
						time_distance -= int_day * 86400000;
						int_hour = Math.floor(time_distance/3600000)
						time_distance -= int_hour * 3600000;
						int_minute = Math.floor(time_distance/60000)
						time_distance -= int_minute * 60000;
						int_second = Math.floor(time_distance/1000)

						// 时分秒为单数时、前面加零站位
						if(int_hour < 10)
						int_hour = "0" + int_hour;
						if(int_minute < 10)
						int_minute = "0" + int_minute;
						if(int_second < 10)
						int_second = "0" + int_second;

						// 显示时间
						time_d.innerHTML = int_day + '天';
						time_h.innerHTML = int_hour;
						time_m.innerHTML = int_minute;
						time_s.innerHTML = int_second;

						setTimeout("show_time()",1000);
					}else{
						time_d.innerHTML = time_d.innerHTML;
						time_h.innerHTML = time_h.innerHTML;
						time_m.innerHTML = time_m.innerHTML;
						time_s.innerHTML = time_s.innerHTML;
					}
					if(!int_day){
						$('.time_days').hide();
					}
				}
			</script>
			{/if}

			<!-- 课程价格 -->
			<div class="course-price">
				<div class="summary-price-wrap">
					<div class="summary-price">
						<div class="dt">{php echo $discount_lesson ? '折 扣 价' : '价 格';}</div>
						<div class="dd">
							<span class="p-price">
								<span>￥</span>
								<span class="price" id="spec_price">
									{if $lesson['price']>0}
										{$spec_list[0]['spec_price']}
										{if count($spec_list)>1}
											~ {php echo $spec_list[count($spec_list)-1]['spec_price']}
										{/if}
									{else}
										免费
									{/if}
								</span>
								{if $discount_lesson && $lesson['price']>0}
								<span class="market-price" id="market_price">￥{$spec_list[0]['market_price']}~{php echo $spec_list[count($spec_list)-1]['market_price']}</span>
								{/if}
							</span>
						</div>
					</div>
				</div>
			</div>

			{if $spec_list}			
			<!-- 课程规格 -->
			<div class="course-class">
				<div>
					<div class="class-content">
						<h2 class="hidden-clip">课程规格</h2>
						<div class="class-date">
							{if $lesson['lesson_type']==1}
								{loop $spec_list $spec}
									<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[market_price]}','{$spec[spec_day]}','{$spec[spec_name]}')">{$spec['spec_name']}</a>
								{/loop}
							{else}
								{loop $spec_list $spec}
									{if $spec['spec_day']==-1}
									<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[market_price]}','{$spec[spec_day]}','')">长期有效</a>
									{else}
									<a class="a-item spec_{$spec['spec_id']}" href="javascript:;" onclick="updateColorSizeSpec('{$spec[spec_id]}','{$spec[spec_price]}','{$spec[market_price]}','{$spec[spec_day]}','')">有效期{$spec['spec_day']}天</a>
									{/if}
								{/loop}
							{/if}
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			{/if}

			<div class="oper-bar">
				{if $lesson['lesson_type']==0}
					{if $show_isbuy}
						<a href="{php echo $study_link ? $study_link : '/'.$uniacid.'/lesson.html?id='.$lesson['id'].'&sectionid='.$first_section['id']}" class="btn-common">{php echo $study_name ? $study_name : '开始学习';}</a>
					{else}
						{if $setting['stock_config']==1 && $lesson['stock']==0}
							<a href="javascript:;" class="btn-sellout">已售罄</a>
						{else}
							{if $setting['lesson_vip_status']!=1 || ($setting['lesson_vip_status']==1 && !$lesson_vip_list)}
								<a href="javascript:;" class="btn-buylesson">{php echo $buynow_name ? $buynow_name : '立即购买';}</a>
							{/if}
							{if $setting['lesson_vip_status']!=0 && $lesson_vip_list}
								<a href="javascript:;" class="btn-buyvip">
									开通VIP<i class="btn-buyvip-tip">开通VIP即可免费学习该课程和其他指定课程</i>
								</a>
							{/if}
						{/if}
					{/if}
				{/if}

				{if $lesson['lesson_type']==1}
					{if $show_qrcode}
						<a href="/{$uniacid}/orderDetails.html?orderid={$apply_order['id']}" class="btn-common">查看二维码</a>
					{else}
						{if $setting['stock_config']==1 && $lesson['stock']==0}
							<a href="javascript:;" class="btn-sellout">已售罄</a>
						{else}
							<a href="javascript:;" class="btn-buylesson">{php echo $buynow_name ? $buynow_name : '立即购买';}</a>
						{/if}
					{/if}
				{/if}

				{if $teacher_price && !$show_isbuy}
					<a href="/{$uniacid}/teacher.html?teacherid={$lesson['teacherid']}" class="btn-buyteacher">
						购买讲师<i class="btn-buyteacher-tip">购买讲师后，可免费学习该讲师所有课程</i>
					</a>
				{/if}
				<input type="hidden" name="spec_id" id="spec_id" value="" />
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//单规格课程自动选中    
		<?php if(count($spec_list)==1){ ?>
			var spec_id = "<?php echo $spec_list[0]['spec_id']; ?>";
			var spec_price = "<?php echo $spec_list[0]['spec_price']; ?>";
			var market_price = "<?php echo $spec_list[0]['market_price']; ?>";
			var spec_day = "<?php echo $spec_list[0]['spec_day']; ?>";
			var spec_name = "<?php echo $spec_list[0]['spec_name']; ?>";
			updateColorSizeSpec(spec_id, spec_price, market_price, spec_day, spec_name);
		<?php } ?>

		//选择课程规格
		function updateColorSizeSpec(spec_id, spec_price, market_price, spec_day, spec_name){
			$(".a-item").removeClass("selected");
			$(".spec_"+spec_id).addClass("selected");
			$("#spec_id").val(spec_id);
			document.getElementById("spec_price").innerHTML = spec_price;
			{if $discount_lesson}
			document.getElementById("market_price").innerHTML = '￥' + market_price;
			{/if}
		}

		//立即购买
		$('.btn-buylesson').click(function(){
			if(!login()){
				return false;
			}
			var spec_id = $("#spec_id").val();
			if(!spec_id){
				swal("系统提示", "请选择课程规格");
				return false;
			}
			window.location.href = "/{$uniacid}/confirm.html?id={$lesson['id']}&spec_id="+spec_id;
		});

		//开通VIP
		$('.btn-buyvip').click(function(){
			if(!login()){
				return false;
			}
			$("#buyvip-overlay").show();
			$(".buyvip-wrapper").show();
		});

		//购买讲师服务提示
		$('.btn-buyteacher').hover(function(){
			$('.btn-buyteacher-tip').show();
		},function(){
			$('.btn-buyteacher-tip').hide();
		});
	</script>
	{else}
	<!-- 章节播放视频 -->
	<section class="section-course-video">
		<div class="inner-center clearfix">
			<div class="videotext-course">
				<div class="section-study">
					<div class="study-video-wrapper">
						<input type="hidden" id="realPlayTime" value="0" />
						{if $section['sectiontype']==1}
							{if $section['savetype']==2}
								<!-- 内嵌代码方式 -->
								{php echo htmlspecialchars_decode($section['videourl']);}

							{elseif $section['savetype']==5}
								<!-- 腾讯云点播 -->
								<style type="text/css">
									.video-js{width:100%;}
								</style>
								<link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
								<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/libs/hls.min.0.12.4.js"></script>
								<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
								<video id="player-container-id" width="100%" height="490px" preload="auto" x5-playsinline playsinline webkit-playsinline></video>
								<script type="text/javascript">
									var player = TCPlayer('player-container-id', {
										fileID: "<?php echo $section['videourl']; ?>",
										appID : "<?php echo $qcloudvod['appid']; ?>",
										t	  : "<?php echo $qcloudVodRes['t']; ?>",
										us	  : "<?php echo $qcloudVodRes['us']; ?>",
										sign  : "<?php echo $qcloudVodRes['sign']; ?>",
										exper : "<?php echo $exper; ?>",
										plugins:{
											ContinuePlay: {
											   text:'上次播放至 ',
											   btnText: '恢复播放'
											},
											ContextMenu: {
												mirror: true
											},
										  }
									});

									var playing    = true;  /* 播放状态 */
									var submiting  = false; /* 提交状态 */
									var space_time = 60;    /* 提交间隔(秒) */
									var uid	= "{$uid}";
									var realPlayTime = document.getElementById("realPlayTime").value;
									var recordurl = "/{$uniacid}/record.html?lessonid={$_GPC['id']}&sectionid={$_GPC['sectionid']}&sectiontype={$section['sectiontype']}";

									function play(){
										playing = true;
									}
									function pause(){
										playing = false;
									}
									function timeUpdate(){
										//间隔指定时间记录一次播放时间
										var currentTime = Math.floor(player.currentTime());
										var duration = Math.floor(player.duration());
										if(currentTime>0 && currentTime%space_time==0 && !submiting && uid){
											submiting = true;
											$.get(recordurl, {duration:duration,currentTime:currentTime}, function (data){});
											setTimeout(function(){
												submiting = false;
											},1000);
										}

										<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
										var test_time = {php echo $section['test_time'];};
										var plays = {php echo $plays ? 1: 0;};
										if(currentTime >= test_time && !plays && playing){
											player.pause();
											playing = false;
											alert("<?php echo $lesson_page['auditionTip'] ? $lesson_page['auditionTip'] : '试听已结束，观看完整版本请购买'; ?>");
											location.reload();
										}
										<?php } ?>
									}
									function ended(){
										var currentTime = Math.floor(player.duration());
										if(uid){
											$.get(recordurl, {duration:currentTime,currentTime:currentTime}, function (data){});
											$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
										}
										
										var next_sectionid = "{$next_sectionid}";
										if(next_sectionid){
											window.location.href = "/{$uniacid}/lesson.html?id={$id}&sectionid={$next_sectionid}";
										}
									}

									player.on('play', play);
									player.on('pause', pause);
									player.on('timeupdate', timeUpdate);
									player.on('ended', ended);

									setInterval(function(){
										if(playing){
											realPlayTime = parseInt(realPlayTime) + parseInt(1);
											$("#realPlayTime").val(realPlayTime);
										}
										if(realPlayTime!=0 && realPlayTime%space_time==0 && uid){
											$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
										}
									},1000);

									$(document).ready(function (){
										player.play();
									});
								</script>

							{else}
								<!-- 阿里云点播 -->
								<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.8.7/skins/default/aliplayer-min.css" />
								<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.8.7/aliplayer-min.js"></script>
								<script type="text/javascript" src="//player.alicdn.com/aliplayer/presentation/js/aliplayercomponents.min.js"></script>
								<div class="prism-player" id="J_prismPlayer"></div>
								<style type="text/css">
									.prism-player .prism-big-play-btn{
										left: 50% !important;
										bottom: 50% !important;
										margin-left: -32px;
										margin-bottom: -32px;
									}
								</style>

								<script>
									var player = new Aliplayer({
										id: "J_prismPlayer",
										width:"100%",
										height:"100%",
										autoplay: true,
										playsinline: true,
										preload: true,
										controlBarVisibility:"hover",
										useH5Prism: true,
										isLive: {$section['is_live']},
										showBarTime:"3000",
										useFlashPrism: false,
										x5_type:"",
										x5_video_position:"top",
										x5_fullscreen: true,
									<?php if($section['savetype']==4){ ?>
										//阿里云点播
										vid: "<?php echo $section['videourl']; ?>",
										playauth: "<?php echo $playAuth; ?>",
									<?php }else{ ?>
										//其他存储
										source: "{$section['videourl']}",
									<?php } ?>
										components:[
											{
												name: 'QualityComponent',
												type: AliPlayerComponent.QualityComponent
											},
											{
												name: 'RotateMirrorComponent',
												type: AliPlayerComponent.RotateMirrorComponent
											},
										<?php if($setting_pc['video_watermark'] && $uid){ ?>
											{
												name: 'BulletScreenComponent',
												type: AliPlayerComponent.BulletScreenComponent,
												args: ["{$uid},{$mobile},{$nickname}", {fontSize: '18px', color: '#eeeeee'}, 'random']
											},
										<?php } ?>
										<?php if(!$section['is_live']){ ?>
											{
												name: 'MemoryPlayComponent',
												type: AliPlayerComponent.MemoryPlayComponent,
											},
										<?php } ?>
										],
										<?php if($audio){ ?>
											mediaType: "audio",
										<?php } ?>
									},function (player) {
										player._switchLevel = 0;
										player.on('sourceloaded', function(params) {
											var paramData = params.paramData;
											var desc = paramData.desc;
											var definition = paramData.definition;
											player.getComponent('QualityComponent').setCurrentQuality(desc, definition);
										});
									});

									var playing    = true;  /* 播放状态 */
									var submiting  = false; /* 提交状态 */
									var space_time = 60;    /* 提交间隔(秒) */
									var uid	= "{$uid}";
									var realPlayTime = document.getElementById("realPlayTime").value;
									var recordurl = "/{$uniacid}/record.html?lessonid={$_GPC['id']}&sectionid={$_GPC['sectionid']}&sectiontype={$section['sectiontype']}";
									
									var playVideo = function(){
										playing = true;
									}
									var pauseVideo = function(){
										playing = false;
									}
									var timeUpdate = function(){
										//间隔指定时间记录一次播放时间
										var currentTime = Math.floor(player.getCurrentTime());
										var duration = Math.floor(player.getDuration());
										if(currentTime>0 && currentTime%space_time==0 && !submiting && uid){
											submiting = true;
											$.get(recordurl, {duration:duration,currentTime:currentTime}, function (data){});
											setTimeout(function(){
												submiting = false;
											},1000);
										}

										<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
										var test_time = {php echo $section['test_time'];};
										var plays = {php echo $plays ? 1: 0;};
										if(currentTime >= test_time && !plays && playing){
											player.pause();
											playing = false;
											alert("<?php echo $lesson_page['auditionTip'] ? $lesson_page['auditionTip'] : '试听已结束，观看完整版本请购买'; ?>");
											location.reload();
										}
										<?php } ?>
									}
									var ended = function(e){
										var currentTime = Math.floor(player.getDuration());
										if(uid){
											$.get(recordurl, {duration:currentTime,currentTime:currentTime}, function (data){});
											$.get(recordurl+'&op=realPlay', {realPlayTime:(realPlayTime%space_time)}, function (data){});
										}

										var next_sectionid = "{$next_sectionid}";
										if(next_sectionid){
											window.location.href = "/{$uniacid}/lesson.html?id={$id}&sectionid={$next_sectionid}";
										}
									}

									player.on('play', playVideo);
									player.on('pause', pauseVideo);
									player.on('timeupdate', timeUpdate);
									player.on('ended', ended);

									setInterval(function(){
										if(playing){
											realPlayTime = parseInt(realPlayTime) + parseInt(1);
											$("#realPlayTime").val(realPlayTime);
										}
										if(realPlayTime!=0 && realPlayTime%space_time==0 && uid){
											$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
										}
									},1000)

									<?php if($section['is_live']){ ?>
										$(document).ready(function (){
											$('.prism-live-display').text('正在直播');
										});
									<?php } ?>
								</script>

							{/if}
						{elseif $section['sectiontype']==3}
							<!-- 音频播放器 -->
							<link rel="stylesheet" href="{MODULE_URL}template/mobile/{$template}/APlayer/APlayer.min.css?v={$versions}">
							<script src="{MODULE_URL}template/mobile/{$template}/APlayer/APlayer.min.js?v={$versions}"></script>
							<div class="fylesson_audio">
								<div class="cover" {if $audio_bg_pic}style="background-image:url({$audio_bg_pic})"{/if}></div>
								<div id="player" class="aplayer" style="margin:0;"></div>
							</div>
							<script>
								var ap1 = new APlayer({
									element: document.getElementById('player'),
									narrow: false,
									autoplay: true,
									showlrc: false,
									music: {
										title: "{$section['title']}",
										author: "",
										url: "{$section['videourl']}",
										pic: "{$_W['attachurl']}{php echo $section['images'] ? $section['images'] : $lesson['images'];}"
									}
								});
								ap1.init();

								var submiting  = false; /* 提交状态 */
								var space_time = 60;    /* 提交间隔(秒) */
								var uid = "{$uid}";
								var playend = false;
								var recordurl = "/{$uniacid}/record.html?lessonid={$_GPC['id']}&sectionid={$_GPC['sectionid']}&sectiontype={$section['sectiontype']}";

								setInterval(function() {
									var currentTime = document.getElementById("current-ptime").value;
									var duration = Math.floor(ap1.audio.duration);
									<?php if($section['is_free']==1 && $section['test_time']>0){ ?>
									var test_time = {php echo $section['test_time'];};
									var plays = {php echo $plays ? 1: 0;};
									if(currentTime >= test_time && !plays){
										ap1.audio.pause();
										alert("<?php echo $lesson_page['auditionTip'] ? $lesson_page['auditionTip'] : '试听已结束，观看完整版本请购买'; ?>");
										location.reload();
									}
									<?php } ?>
									
									//间隔指定时间记录一次播放时间
									if(currentTime>0 && currentTime%space_time==0 && !submiting && uid){
										submiting = true;
										$.get(recordurl, {duration:duration,currentTime:currentTime}, function (data){});
										$.get(recordurl+'&op=realPlay', {realPlayTime:space_time}, function (data){});
										setTimeout(function(){
											submiting = false;
										},1000);
									}

									if(ap1.audio.currentTime == ap1.audio.duration){
										if(!playend && uid){
											playend = true;
											$.get(recordurl, {duration:duration,currentTime:currentTime}, function (data){});
										}

										var next_sectionid = "{$next_sectionid}";
										if(next_sectionid){
											window.location.href = "/{$uniacid}/lesson.html?id={$id}&sectionid={$next_sectionid}";
										}
									}
								},1000);
							</script>
						
						{/if}
					</div>
					<div class="task-list-wrapper">
						<ol class="study-task-list">
						{if $section_count}
							{loop $title_list $title}
							<li class="sub-section">
								<h4 class="sub-section--tt">{$title['title']}（{php echo count($title['section'])}课时）</h4>
								<ol>
									{loop $title['section'] $sec}
									<li class="js-task-item task-item">
										<div class="task-item-prefix">
											<span class="task-item-type">
												{if $sec['sectiontype']=='1'}
													视频
												{elseif $sec['sectiontype']=='2'}
													图文
												{elseif $sec['sectiontype']=='3'}
													音频
												{elseif $sec['sectiontype']=='4'}
													外链
												{/if}
											</span>
										</div>
										<div class="task-item-tt play-section {if $sectionid==$sec['id']}section-active{/if}" data-sectionid="{$sec['id']}">
											<h5 class="task-item-text">{$sec['title']}</h5>
											<span class="task-item-suffix">
												{if $sec['is_free']==1}
													<span class="free-play-box m-r-15">
														<i class="iconfont icon-play1"></i>
														<i class="free-play-font ft-s-n">免费试听</i>
													</span>
												{else}
													{if $lesson_page['playTip']}
													<span class="free-play-box m-r-15">
														<i class="free-play-font ft-s-n">{$lesson_page['playTip']}</i>
													</span>
													{/if}
												{/if}
												<i class="iconfont icon-clock vertical-minus-1"></i>{$sec['videotime']}
											</span>
										</div>
									</li>
									{/loop}
								</ol>
							</li>
							{/loop}

							{if $section_list}
							<li class="sub-section">
								<h4 class="sub-section--tt">{$lesson['bookname']}（{$section_count}课时）</h4>
								<ol>
									{loop $section_list $sec}
									<li class="js-task-item task-item">
										<div class="task-item-prefix">
											<span class="task-item-type">
												{if $sec['sectiontype']=='1'}
													视频
												{elseif $sec['sectiontype']=='2'}
													图文
												{elseif $sec['sectiontype']=='3'}
													音频
												{elseif $sec['sectiontype']=='4'}
													外链
												{/if}
											</span>
										</div>
										<div class="task-item-tt play-section {if $sectionid==$sec['id']}section-active{/if}" data-sectionid="{$sec['id']}">
											<h5 class="task-item-text">{$sec['title']}</h5>
											<span class="task-item-suffix">
												{if $sec['is_free']==1}
													<span class="free-play-box m-r-15">
														<i class="iconfont icon-play1"></i>
														<i class="free-play-font ft-s-n">免费试听</i>
													</span>
												{else}
													{if $lesson_page['playTip']}
													<span class="free-play-box m-r-15">
														<i class="free-play-font ft-s-n">{$lesson_page['playTip']}</i>
													</span>
													{/if}
												{/if}
												<i class="iconfont icon-clock vertical-minus-1"></i>{$sec['videotime']}
											</span>
										</div>
									</li>
									{/loop}
								</ol>
							</li>
							{/if}
						{else}
							<li class="sub-section">
								<h4 class="sub-section--tt">{php echo $lesson['lesson_type']==0 ? '抱歉，该课程没有找到任何内容~' : '请点击课程“详情”查看相关介绍哦~';}</h4>
							</li>
						{/if}
						</ol>
					</div>
				</div>
				<div class="section-bottom">
					<div class="course-action">
						{if $show_isbuy}
						<a href="/{$uniacid}/lesson.html?id={$id}" class="btn-backlesson">
							<i class="iconfont icon-back-o vertical-middle"></i>
							<span>返回课程首页</span>
						</a>
						{else}
						<a href="javascript:;" class="btn-join">
							<i class="iconfont icon-cart vertical-middle"></i>
							<span>{php echo $buynow_name ? $buynow_name : '立即购买';}</span>
						</a>
						{/if}
					</div>
					<div class="course-info">
						<div class="course-title">
							<h3>
								{$lesson['bookname']}
								{if !$show_isbuy}
									<span class="title-free">
									{if $lesson['price']>0}
										￥{$spec_list[0]['spec_price']} <em class="asking-price">起</em>
									{else}
										免费
									{/if}
									</span>
								{/if}
							</h3>
						</div>
						<div class="course-hints">
							<span class="line-item">
								<span class="hint-data">{$lesson['buyTotal']}</span>{php echo $index_page['studyNum'] ? $index_page['studyNum'] : '人已学习';}
							</span>
							<span class="line-item">
								好评度
								<span class="hint-data">{$evaluate_score['score']}%</span>
							</span>
							<div class="line-item item-share js_share">
								<i class="iconfont icon-share vertical-minus-1"></i> 分享
								<div class="hover-tips tips-share js_share_panel" style="bottom:-38px;left:-40px;">
									<ul >
										<li class="share-qq" data-type="qq"></li>
										<li class="share-qzone" data-type="qzone"></li>
										<li class="share-wechat" data-type="wechat"></li>
										<li class="share-sina" data-type="sina"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{/if}
</div>

<!-- 分享微信二维码 -->
<div class="overlay" id="qrcode-container">
	<div class="qrcode-container">
		<div class="qrcode-top"></div>
		<div class="qrcode-center">
			<div class="qc-center">
				<div id="rqcode"></div>
			</div>
			<div class="qc-bottom">打开微信扫描二维码<br>点击右上角进行分享</div>
		</div>
		<div class="qrcode-bottom"></div>
	</div>
</div>

{if $lesson_vip_list}
<!-- 开通VIP免费学习 -->
<div class="overlay" id="buyvip-overlay"></div>
<div class="buyvip-wrapper" id="buyvip-wrapper">
	<div class="buyvip-header">
		<div class="buyvip-header">
			<div class="buyvip_mod_user">
				<div class="info">
					<h4 class="title">开通以下任意VIP等级即可免费学习本课程</h4>
				</div>
			</div>
			<a href="javascript:;" class="btn btn_close">
				<i class="iconfont icon-close"></i>
			</a>
		</div>
	</div>
	<div class="buyvip_mod_combo">
		<div class="combo_list_wp">
			<ul>
				{loop $lesson_vip_list $key $item}
				<li class="list_item select_vip_level" data-level-id="{$item['id']}">
					<h5 class="title">{$item['level_name']}</h5>
					<div class="price">
						￥<em class="em">{php echo intval($item['level_price']);}</em>
					</div>
					<p class="desc">有效期{$item['level_validity']}天</p>
					{if $item['integral']}
					<p class="desc">购买送{$item['integral']}积分</p>
					{/if}
					{if $item['discount'] && $item['discount'] < 100 }
					<p class="desc">
						购买课程享受{$item['discount']}%优惠
					</p>
					{/if}
					<p class="desc"><i class="iconfont icon-information vertical-middle"></i> <a href="/{$uniacid}/viplesson.html?level_id={$item['id']}" target="_blank">查看可免费学习的课程</a></p>
					<i class="selected"></i>
				</li>
				{/loop}
			</ul>
		</div>
	</div>
	<div class="open-button">
		<a href="javascript:;" class="btn-buyvip-confirm">开通</a>
		<a href="javascript:;" class="btn-buyvip-cancel">取消</a>
		<input type="hidden" id="buyvip_level_id" value="" />
	</div>
</div>
<script type="text/javascript">
	//定位提示框
	if (window.innerHeight){
		winHeight = window.innerHeight;
	}else if ((document.body) && (document.body.clientHeight)){
		winHeight = document.body.clientHeight;
	}

	window.onload = function() { 
		var buyvipHeight = $('#buyvip-wrapper').height();
		var marginTop = (winHeight-buyvipHeight)/2;
		document.getElementById("buyvip-wrapper").style.top = marginTop + 'px';
	}

	//开通VIP服务提示
	$('.btn-buyvip').hover(function(){
		$('.btn-buyvip-tip').show();
	},function(){
		$('.btn-buyvip-tip').hide();
	});
	//取消
	$(".buyvip-wrapper .btn_close, .buyvip-wrapper .btn-buyvip-cancel").click(function(){
		$("#buyvip-overlay").hide();
		$(".buyvip-wrapper").hide();
	});
	//选择VIP
	$(".select_vip_level").click(function(){
		var level_id = $(this).data('level-id');
		$("#buyvip_level_id").val(level_id);

		var $currItem = $(this),index = $currItem.index();
		$(".combo_list_wp .list_item .selected").hide().eq(index).show();
	});
	//确认开通
	$(".btn-buyvip-confirm").click(function(){
		var level_id = $("#buyvip_level_id").val();
		if(!level_id){
			swal("系统提示", "请选择要开通的VIP等级");
			return false;
		}

		window.location.href = "/{$uniacid}/vip.html?op=buyvip&level_id=" + level_id;
	});
</script>
{/if}

<div class="hg-22 bg-c-f4f4f4"></div>

<div class="w-all bg-c-f4f4f4" id="content-info">
	<div class="w-1200 m-auto">
		<div class="content lessons">
			<div class="lessons-tt-bar js_tab js-tab-nav">
				<h2 class="lessons-tt {if $show_details}active{/if}">{php echo $lesson_page['details'] ? $lesson_page['details'] : '详情'}</h2>
				<h2 class="lessons-tt {if $show_dir}active{/if}">{php echo $lesson_page['directory'] ? $lesson_page['directory'] : '目录'}</h2>
				{if $lesson_config['document']}
				<h2 class="lessons-tt">{php echo $lesson_page['document'] ? $lesson_page['document'] : '课件'}<span class="num">({php echo count($document_list)})</span></h2>
				{/if}
				{if $lesson_config['evaluate']}
				<h2 class="lessons-tt">{php echo $lesson_page['evaluate'] ? $lesson_page['evaluate'] : '评价'}<span class="num">({$evaluate_total})</span></h2>
				{/if}
			</div>
			<div class="lessons-content hide" {if $show_details}style="display: block;"{/if}>
				{if $section['content']}
				<h3 class="section-content">【章节详情】</h3>
				<div class="intro-course">
					{php echo htmlspecialchars_decode($section['content']);}
				</div>
				<div class="hg-22"></div>
				{/if}

				<h3 class="section-content">【课程详情】</h3>
				<div class="intro-course">
					{php echo htmlspecialchars_decode($lesson['descript']);}
				</div>
			</div>

			<div class="lessons-content hide" {if $show_dir}style="display: block;"{/if}>
				<div class="p-t-20">
				{if $section_count}
					{loop $title_list $key $title}
					<div class="task-part-item">
						<div class="task-part-hd">
							<h3 class="part-tt">{$title['title']}[{php echo count($title['section'])}课时]</h3>
						</div>
						<div class="task-task-list">
							{loop $title['section'] $sec}
							<a href="javascript:;" class="task-task-item task-item-jump play-section {if $sectionid==$sec['id']}section-active{/if}" data-sectionid="{$sec['id']}">
								<i class="iconfont {$section_icon[$sec['sectiontype']]} item-icon"></i>
								<p>
									<span class="task-tt-text">
										{if $sec['is_free']==1}
											【免费试听】
										{else}
											{php echo $lesson_page['playTip'] ? $lesson_page['playTip'] : '';}
										{/if}
									</span>
									{$sec['title']}
									{if $sec['videotime']}
									<span class="tt-suffix">({$sec['videotime']})</span>
									{/if}
								</p>
							</a>
							{/loop}
						</div>
					</div>
					{/loop}

					{if $section_list}
					<div class="task-part-item">
						{if empty($title_list)}
						<div class="task-part-hd">
							<h3 class="part-tt">{$lesson['bookname']}[{$section_count}课时]</h3>
						</div>
						{/if}
						<div class="task-task-list">
							{loop $section_list $sec}
							<a href="javascript:;" class="task-task-item task-item-jump play-section {if $sectionid==$sec['id']}section-active{/if}" data-sectionid="{$sec['id']}">
								<i class="iconfont {$section_icon[$sec['sectiontype']]} item-icon"></i>
								<p>
									<span class="task-tt-text">
										{if $sec['is_free']==1}
											【免费试听】
										{else}
											{php echo $lesson_page['playTip'] ? $lesson_page['playTip'] : '';}
										{/if}
									</span>
									{$sec['title']}
									{if $sec['videotime']}
									<span class="tt-suffix">({$sec['videotime']})</span>
									{/if}
								</p>
							</a>
							{/loop}
						</div>
					</div>
					{/if}
				{else}
					<div class="no-content">
						<div class="msg-inner">
							<div class="msg-text">
								<i class="iconfont i-info icon-information"></i> 该课程暂未发布任何章节
							</div>
						</div>
					</div>
				{/if}
				</div>
			</div>

			{if $lesson_config['document']}
			<div class="lessons-content hide" {if $show_dir}style="display: block;"{/if}>
				<div class="p-t-20">
				{if !empty($document_list)}
					<div class="task-part-item">
						<div class="task-task-list">
							{loop $document_list $key $document}
							<a {if $play}href="/{$uniacid}/downloadFile.html?fileid={$document['id']}"{/if} class="task-task-item task-item-jump {if !$play}document-tip{/if}">
								<i class="iconfont icon-file item-icon"></i>
								<p>
									{php echo $key+1;}、{$document['title']}
								</p>
							</a>
							{/loop}
						</div>
					</div>
				{else}
					<div class="no-content">
						<div class="msg-inner">
							<div class="msg-text">
								<i class="iconfont i-info icon-information"></i> 暂时没有任何{php echo $lesson_page['document'] ? $lesson_page['document'] : '课件'}
							</div>
						</div>
					</div>
				{/if}
				</div>
			</div>
			{/if}

			{if $lesson_config['evaluate']}
			<div class="lessons-content hide">
				<div class="evaluation-info">
					<div class="evaluation-title fl">综合<br>好评</div>
					<div class="evaluation-score fl">
						{$evaluate_score['score']}%
					</div>
					<ul>
						<li>{php echo $evaluate_page['global_score'] ? $evaluate_page['global_score'] : '综合评分';}<span>{$evaluate_score['global_score']}</span></li>
						<li>{php echo $evaluate_page['content_score'] ? $evaluate_page['content_score'] : '内容实用';}<span>{$evaluate_score['content_score']}</span></li>
						<li>{php echo $evaluate_page['understand_score'] ? $evaluate_page['understand_score'] : '通俗易懂';}<span>{$evaluate_score['understand_score']}</span></li>
					</ul>
					<!-- <div class="f-rc-list">
						<label class="f-radio checked" data-id="0">
							<i class="icon-radio"></i>
							<span class="f-rc-text">全部评价({$evaluate_total})</span>
						</label>
						<label class="f-radio" data-id="1">
							<i class="icon-radio"></i>
							<span class="f-rc-text">好评(0)</span>
						</label>
						<label class="f-radio" data-id="2">
							<i class="icon-radio"></i>
							<span class="f-rc-text">中评(0)</span>
						</label>
						<label class="f-radio" data-id="3">
							<i  class="icon-radio"></i>
							<span class="f-rc-text">差评(0)</span>
						</label>
					</div> -->
				</div>
				<div class="comment-list fs-14" id="comment-list">
				</div>
				<div id="pager">
				</div>
			</div>
			{/if}
		</div>

		<div class="aside-right">
			<div class="aside-blocks">
				<div class="aside-block block-agency">
					<div class="block-bd">
						<h4 class="agency-tt">
							<div class="tt-cover-url">
								<a href="/{$uniacid}/teacher.html?teacherid={$lesson['teacherid']}" target="_blank">
									<img src="{$_W['attachurl']}{$lesson['teacherphoto']}" width="64" height="64">
								</a>
							</div>
							<div class="tt-cover-name">
								<a class="tt-link js-agency-name" href="/{$uniacid}/teacher.html?teacherid={$lesson['teacherid']}" target="_blank">{$lesson['teacher']}</a>
								<span class="all-lesson"><i class="iconfont icon-information"></i> 总共{$lessonNumber}{php echo $lesson_page['lessonNum'] ? $lesson_page['lessonNum'] : '个课程'}</span>
							</div>
						</h4>
						<div class="agency-summary">{php echo htmlspecialchars_decode($lesson['teacherdes']);}</div>
					</div>
				</div>

				{if $setting_pc['teacher_contact'] && ($lesson['qq'] || $lesson['qqgroup'] || $lesson['weixin_qrcode'] || $lesson['online_url']) }
				<div class="aside-block block-contact">
					<h3 class="block-tt">联系方式</h3>
					<div class="block-bd">
						{if $lesson['qq']}
						<ul class="contact-list">
							<li>
								<i class="iconfont icon-qq"></i>
								<a href="http://wpa.qq.com/msgrd?v=3&uin={$lesson['qq']}&site=qq&menu=yes" class="item-tt" target="_blank">
									QQ咨询
								</a>
								<p class="remark">QQ: {$lesson['qq']}</p>
							</li>
						</ul>
						{/if}
						{if $lesson['qqgroup']}
						<ul class="contact-list">
							<li>
								<i class="iconfont icon-qqgroup"></i>
								<a {if $lesson['qqgroupLink']}href="{$lesson['qqgroupLink']}"{/if} class="item-tt" target="_blank">
									{$lesson['teacher']}讲师交流群
								</a>
								<p class="remark">群号: {$lesson['qqgroup']}</p>
							</li>
						</ul>
						{/if}
						{if $lesson['online_url']}
						<ul class="contact-list">
							<li>
								<i class="iconfont icon-online"></i>
								<a href="{$lesson['online_url']}" class="item-tt" target="_blank">
									在线客服
								</a>
								<a href="{$lesson['online_url']}" class="remark dsblock" target="_blank">点击咨询在线客服</a>
							</li>
						</ul>
						{/if}
						{if $lesson['weixin_qrcode']}
						<ul class="contact-list">
							<li class="weixin_qrcode">
								<i class="iconfont icon-wechat"></i>
								<a href="javascript:;" class="item-tt">
									微信咨询
								</a>
								<div class="teacher-weixin">
									<div>
										<b class="ftc-e9511b fs-13">打开微信扫一扫</b>
									</div>
									<img src="{$_W['attachurl']}{$lesson['weixin_qrcode']}">
								</div>
							</li>
						</ul>
						{/if}
					</div>
				</div>
				{/if}
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{if $setting['isfollow']==2 && $uid && !$member['follow']}
<div class="force-contact-main follow_qrcode">
	<div class="force-contact-content_new">
		<p class="force-contact-tips">{php echo $setting['lesson_follow_title'] ? $setting['lesson_follow_title'] : '打开微信扫一扫, 关注公众号';}</p>
		<p class="force-contact-desc">{php echo $setting['lesson_follow_desc'] ? $setting['lesson_follow_desc'] : '关注后继续学习, 可接收最新课程通知';}</p>
		<img class="receive-red-packet-contact-touch" src="{$_W['attachurl']}{$setting['qrcode']}">
	</div>
</div>
{/if}

<div id="loadingToast" class="dsbnone">
	<div class="loading-mask_white"></div>
	<div class="loadEffect">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>


<script type="text/javascript">
var ajaxurl = "/{$uniacid}/getevaluate.html?id={$id}";

$(function () {
    function getData(page) {
		$.get(ajaxurl, {page: page}, function (data) {
			$("#loadingToast").hide();

			var jsonObj = JSON.parse(data);			
			document.getElementById('pager').innerHTML = jsonObj.pager_html;
			insertDiv(jsonObj.evaluate_list);
		});
    } 

    //生成数据html
    function insertDiv(result) {  
        var chtml = '';  
        for (var j = 0; j < result.length; j++) {
			chtml += '<div class="comment-item">';
			chtml += '	<div class="item-left">';
			chtml += '		<img class="user-avatar" src="' + result[j].avatar + '" width="40" height="40">';
			chtml += '		<p class="user-name fs-12">' + result[j].nickname + '</p>';
			chtml += '	</div>';
			chtml += '	<div class="item-right">';
			chtml += '		<div class="evaluate-icon">';
			chtml += '			<img src="' + result[j].grade_ico + '" /><i>' + result[j].grade + '</i>';
			chtml += '		</div>';
			chtml += '		<div class="comment-bd">' + result[j].content + '</div>';
			chtml += '		<div class="comment-ft">';
			chtml += '			<span class="fs-13">' + result[j].addtime + '</span>';
			chtml += '		</div>';
			if(result[j].reply !=null && result[j].reply !=''){
				chtml += '	<div class="comment-reply">';
				chtml += '		<div class="reply-item item-agency">';
				chtml += '			<div class="reply-bd"><strong class="reply-tt">讲师回复：</strong>' + result[j].reply + '</div>';
				//chtml += '			<div class="comment-ft">';
				//chtml += '				<span class="fs-13">2019-03-14</span>';
				//chtml += '			</div>';
				chtml += '		</div>';
				chtml += '	</div>';
			}
			chtml += '	</div>';
			chtml += '</div>';
        }
		document.getElementById('comment-list').innerHTML = chtml;
    }
	getData(1);
	
	$(document).on("click", "#pager ul li a",function(){
		$("#loadingToast").show();
		getData($(this).data('page'));
	})
});
</script>

<script type="text/javascript">
$(function(){
	//分享按钮
    $('.js_share').hover(function() {
        $('.js_share_panel').show();
    }, function() {
        $('.js_share_panel').hide();
    });

	//分享课程
	var shareTo = function(stype){
		var title = "{$share['title']}";
		var desc  = "{$share['desc']}";
		var image = "{$share['images']}";
		var link = "{php echo urlencode($share['link'])}";

		if(stype == 'qq'){
			window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + link + '&sharesource=qzone&title=' + title + '&pics=' + image + '&summary=' + desc + '&desc=');
		}
		if(stype=='qzone'){
			window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + link + '&sharesource=qzone&title=' + title + '&pics=' + image + '&summary=' + desc);
		}
		if(stype=='wechat'){
			jQuery('#rqcode').qrcode({width: 190, height: 190, text: "{$wap_url}"});
			$('#qrcode-container').fadeIn(200).unbind('click').click(function(){
				$(this).fadeOut(100);
			})
		}
		if(stype=='sina'){
			window.open('http://service.weibo.com/share/share.php?url=' + link + '&sharesource=weibo&title=' + title + '&pic=' + image + '&appkey=2706825840');
		}
	}
	$('.js_share_panel ul li').on('click',function(){
		shareTo($(this).data("type"));
	});

	//收藏课程
	$('.btn-favorite').click(function(){
		if(!login()){
			return false;
		}
		$.ajax({
			type:'post',
			url: "/{$uniacid}/updateCollect.html?id={$id}&uid={$uid}&ctype=lesson",
			data:{},
			dataType:'json',     
			success:function(res){
			console.log(res);
				if(res.code==0){
					if(res.type==1){
						$(".btn-favorite i").addClass("icon-heart-o");
						$(".btn-favorite i").removeClass("icon-heart");
						$(".btn-favorite span").text("已收藏");

					}else if(res.type==2){
						$(".btn-favorite i").addClass("icon-heart");
						$(".btn-favorite i").removeClass("icon-heart-o");
						$(".btn-favorite span").text("收藏");
					}

					swalalert('系统提示', res.message, 'success');
					return false;
				
				}else{
					swalalert('系统提示', res.message, 'error');
					return false;

				}
			},
			error: function(error){
				swalalert('系统提示', '网络繁忙，请稍候重试', 'error');
				return false;
			}
		});
	});

	//课程目录切换
	$(".js-tab-nav h2").click(function() {
		var $currItem = $(this),
		index = $currItem.index();

		$currItem.addClass('active').siblings().removeClass('active');
		$(".lessons-content").hide().eq(index).show();

	});

	//点击章节
	$('.play-section').click(function(){
		var lessonid = "{$lesson['id']}";
		var sectionid = $(this).data('sectionid');
		$("#loadingToast").show();

		$.ajax({
			type: 'get',
			url: "/{$uniacid}/sectionStudyStatus.html",
			data: {id:lessonid, sectionid:sectionid},
			dataType: 'json',     
			success: function(data){
				$("#loadingToast").hide();
				if(data.code==0){
					window.location.href = "/{$uniacid}/lesson.html?id=" + lessonid + "&sectionid=" + sectionid;
				}else{
					swal("系统提示", data.msg);
				}
			},
			error: function(error){
				$("#loadingToast").hide();
				swal("系统提示", "网络繁忙，请稍候重试");
			}
		});
	});
	$(".btn-join").click(function(){
		window.pageinfo.refurl = "/{$uniacid}/lesson.html?id={$id}";
		if(!login()){
			return false;
		}
		window.location.href = window.pageinfo.refurl;
	});

	//鼠标移过章节背景色
	$('.task-item-tt').hover(function(){
		$(this).find('.free-play-box').css('border', '1px solid #e9511b');
	},function(){
		$(this).find('.free-play-box').css('border', '1px solid #c7c7c7');
		$('.section-active .task-item-suffix .free-play-box').css('border', '1px solid #e9511b');
	});
	$('.task-task-item').hover(function(){
		$(this).css('background-color', '#e0e0e0');
	},function(){
		$(this).css('background-color', '#f4f4f4');
	});

	//讲师微信咨询
	$('.weixin_qrcode').hover(function(){
		$('.teacher-weixin').show();
	}, function(){
		$('.teacher-weixin').hide();
	});

	//未购买课程下载课件提醒
	$(".document-tip").click(function(){
		swal("系统提示", "您还没有购买课程，无法下载");
	});
});
</script>

{php include $this->template($template.'/_footer')}