<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{MODULE_URL}static/webapp/{$template}/css/bootstrap.min.css?v={$versions}">
	<link rel="stylesheet" href="{MODULE_URL}static/public/iconfont/iconfont.css?v=3.0.0">
	<link rel="stylesheet" href="{MODULE_URL}static/webapp/{$template}/css/login.css?v={$versions}">
	<script type="text/javascript" src="{MODULE_URL}static/webapp/{$template}/js/jquery-1.11.3.min.js?v={$versions}"></script>
	<link rel="stylesheet" href="{MODULE_URL}static/public/sweetalert/sweetalert.css?v={$versions}">
	<script type="text/javascript" src="{MODULE_URL}static/public/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript" src="{MODULE_URL}static/webapp/{$template}/js/jquery.qrcode.min.js"></script>
	<title>用户登录</title>
</head>

<body class="logobg_style">
	<div class="top_box">
		<div class="wid_con">
			<div class="top_con">
				<div class="top_logo">
					<a href="/{$uniacid}/index.html">
						<img src="{$_W['attachurl']}{$setting_pc['logo']}">
					</a>
				</div>
				<div class="top_menu">
					<ul>
						{loop $menu_navigation $item}
						<li class=""><a href="{$item['url_link']}">{$item['nav_name']}</a></li>
						{/loop}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="large-header" class="large-header login-page" {if $login_register['login_bg']}style="background-image: url({$_W['attachurl']}{$login_register['login_bg']});"{/if}>
		<canvas id="demo-canvas" width="1590" height="711"></canvas>
		<div class="login-form">
			<div class="login-content">
				<form class="login_padding">
					<h1 class="title_name">登录LOGIN</h1>
					<!-- 帐号登录 -->
					<div class="account">
						<div class="form-group clearfix">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="icon_user"></i>
								</div>
								<input type="text" class="form-control" name="mobile" placeholder="手机号码" autocomplete="off">
							</div>
						</div>
						<div class="form-group clearfix">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="icon_password"></i>
								</div>
								<input type="password" class="form-control" name="password" placeholder="登录密码" autocomplete="off">
							</div>
						</div>
						<div class="form-group clearfix">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="icon_verify_code"></i>
								</div>
								<input type="text" class="form-control w-175 m-r-10" name="code" placeholder="验证码">
								<img id="imgverify" src="/{$uniacid}/verifycode.html" width="140" height="45" class="passcode" style="cursor:pointer;" onclick="getCode()">
							</div>
						</div>
						<div class="textright">
							{if $login_register['reset_password']}
							<a href="javascript:;" class="forget" id="btn-forget">注册/忘记密码?</a>
							{/if}
						</div>
						<div class="form-group">
							<a href="javascript:;" class="btn btn-danger btn-block btn-login" id="btn-login" />登录</a>
						</div>
					</div>

					{if $login_register['wechat_login']}
					<!-- 扫码登录 -->
					<div class="scanCode">
						<div class="qrCode" id="login-qrcode">
						</div>
						<div class="scanTip">
							<div class="list_scan">
								<img src="{MODULE_URL}static/webapp/{$template}/images/login/sCan.png">
								<span>
									打开微信
								</span>
								<span>扫一扫登录</span>
							</div>
						</div>
					</div>
					<!-- 登录切换按钮 -->
					<div class="entrance">
						<div class="bg_img"></div>
						<div class="tips">
							<span><img src="{MODULE_URL}static/webapp/{$template}/images/login/safety_ico.png"><span>微信扫码登录</span></span>
							<em></em>
						</div>
					</div>
					{/if}
				</form>
			</div>
		</div>
	</div>

	<div class="overlay" id="qrcode-container">
		<div class="qrcode-container">
			<div class="qrcode-top"></div>
			<div class="qrcode-center">
				<div class="qc-center">
					<div id="password-qcode"></div>
				</div>
				<div class="qc-bottom">打开微信扫描二维码<br>输入新登录密码后提交</div>
			</div>
			<div class="qrcode-bottom"></div>
		</div>
	</div>


	<div class="footer">
		<p>{$setting['copyright']}</p>
		<p>ICP备案号：<a href="http://beian.miit.gov.cn" target="_blank">{$setting_pc['site_icp']}</a></p>
	</div>
	
<script src="{MODULE_URL}static/webapp/{$template}/js/login.js?v={$versions}"></script>
<script type="text/javascript">
	function getCode(){
		$('#imgverify').prop('src', '/{$uniacid}/verifycode.html?r=' + Math.round(new Date().getTime()));
		return false;
	}

	var swalalert = function(title, message, type){
		swal({
			title: title,
			text: message,
			type: type,
			showCancelButton: false,
			closeOnConfirm: false,
			confirmButtonColor: "#1d97d0"
		});
	}

	$("#btn-login").click(function(){
		var mobile = $("input[name=mobile]").val();
		var password = $("input[name=password]").val();
		var code = $("input[name=code]").val();

		if(!mobile){
			swalalert('系统提示', '请输入手机号码', 'error');
			return false;
		}
		if(!password){
			swalalert('系统提示', '请输入登录密码', 'error');
			return false;
		}
		if(!code){
			swalalert('系统提示', '请输入验证码', 'error');
			return false;
		}

		$.ajax({
            type:"POST",
            url:"/{$uniacid}/login.html",
            data:{mobile:mobile, password:password, code:code},
            datatype: "json",
            beforeSend:function(){
				$("#msg").html("logining");
			},
            success:function(resdata){
				var res =  JSON.parse(resdata);
				if(res.code == '-1'){
					swalalert('系统提示', res.message, 'error');
					getCode();
					return false;
				}else if(res.code == '0'){
					if(res.refurl){
						location.href = res.refurl;
					}else{
						location.href = "/{$uniacid}/index.html";
					}
				}
            },
            complete: function(XMLHttpRequest, textStatus){
            },
			error: function(){
            }
         });
	});
</script>

{if $login_register['wechat_login']}	
<script type="text/javascript">
	//忘记密码
	jQuery('#password-qcode').qrcode({width: 190, height: 190, text: "{$reset_password_url}"});
	$("#btn-forget").click(function(){
		$('#qrcode-container').fadeIn(200).unbind('click').click(function(){
			$(this).fadeOut(100);
		})
	});
</script>
{/if}

{if $login_register['wechat_login']}
<script type="text/javascript">
$(function () {
	jQuery('#login-qrcode').qrcode({width: 200, height: 200, text: "{$mobile_url}"});
	
	var login_status_int = '';
	$('.bg_img').click(function (event) {
		if ($(this).hasClass('pc')) {
			$(this).removeClass('pc');
			$('.scanCode').hide().prev().show();
			window.clearInterval(login_status_int);
			$('.tips>span>span').html('微信扫码登录');
		} else {
			$(this).addClass('pc');
			$('.account').hide().next().show();
			$('.tips>span>span').html('点击账号登录')
			login_status_int = window.setInterval(checkLogin, 3000);
		}
	});

	function checkLogin(){
		var orderid = "{$_GPC['orderid']}";
		var ordertype = "{$_GPC['ordertype']}";
		$.ajax({
			type: "post",
			url: "/{$uniacid}/login.html?op=checkLogin",
			dataType: "json",
			data: {
				login_token: "{$login_token}",
				refurl: "{$_GPC['refurl']}",
			},
			success:function(res){
				if(res.code == -1){
					if(res.message){
						swal("系统提示", res.message, "error");
					}
					return;
				}else if(res.code == 0){
					window.location.href = res.refurl;
					window.clearInterval(login_status_int);
				}
			}, 
			error:function(){   
			},   
		});
	}
})
</script>
{/if}

</body>
</html>
