{php include $this->template($template.'/_header')}

<div class="baseWidth w-1200">
	<div class="w-main fs-12 ftc-7a7a7a line-h45 m-b-10">
		当前位置：<a href="/{$uniacid}/index.html" class="more ftc-414141">首页</a> &gt; <a href="/{$uniacid}/self.html" class="more ftc-414141">个人中心</a> &gt; {$title}
	</div>
	<div class="memberContent flex">
		{php include $this->template($template.'/_memberLeft')}

		<div class="memberRightLayout">
			<div class="myVipWrap flex flex-v">
				<ul class="commonTab flex flex-vc">
					<li class="items {if $op=='display'}actived{/if}"><a class="tabsCard" href="/{$uniacid}/myvip.html">我的VIP</a></li>
					<li class="items {if $op=='orderlist'}actived{/if}"><a class="tabsCard" href="/{$uniacid}/myvip.html?op=orderlist">VIP订单</a></li>
					<li class="items {if $op=='cardlist'}actived{/if}"><a class="tabsCard" href="/{$uniacid}/myvip.html?op=cardlist">VIP服务卡</a></li>

					{if $op=='cardlist'}
					<form method="get" style="z-index: 1;">
						<div class="searchWrap flex flex-vc m-l-30">
							<div class="selectCon m-r-6">
								<input type="hidden" name="op" value="cardlist" />
								<select class="w-90 fs-12" name="card_status">
									<option value="">全部状态</option>
									<option value="0" {if $_GPC['card_status']=='0'}selected{/if}>未使用</option>
									<option value="1" {if $_GPC['card_status']=='1'}selected{/if}>已使用</option>
									<option value="2" {if $_GPC['card_status']=='2'}selected{/if}>已过期</option>
								</select>
							</div>
							<div class="searchCon">
								<input type="text" value="{$_GPC['card_password']}" name="card_password" placeholder="服务卡密" class="w-180">
								<input type="submit" class="searchBtn" value="搜索">
							</div>
						</div>
					</form>
					{/if}
				</ul>
				

				{if $op=='display'}
				<div class="myVipList">
					{if $memberVip_list}
					<ul class="flex flex-v">
						{loop $memberVip_list $item}
						<li class="items">
							<div class="fl myvip-bg">
								<div class="card-box" style="color: #ffffff;">
									<div class="store">
										<div class="img"><img src="{$item['level_icon']}"> </div>
										<h3>{$item['level_name']}</h3>
									</div>
									<div class="number">生效中</div>
									<div class="name">
										{if $item['discount'] > 0 && $item['discount'] < 100}
											购买课程折扣:&nbsp;{$item['discount']}%
										{/if}
									</div>
									<div class="info">
										<div class="times">有效期:&nbsp;{php echo date('Y-m-d H:i:s', $item['validity']);}</div>
										<div class="state"></div>
									</div>
								</div>
							</div>
							<div class="fr">
								<dl class="card-intro">
									<dt class="intro-tit">等级权益</dt>
									<dd class="intro-con">
										<ul class="equity">
											<li class="ok">
												<div class="by"><span class="icon iconfont icon-diamond"></span>
													<p>尊贵身份</p>
												</div>
												<div class="note">
													<h4>享受会员身份</h4>
													<h5><i></i>已享受</h5>
												</div>
											</li>
											<li class="ok">
												<div class="zk"><span class="icon iconfont icon-gift"></span>
													<p>赠送积分</p>
												</div>
												<div class="note">
													<h4>开通/续费赠送积分</h4>
													<h5><i></i>已享受</h5>
												</div>
											</li>
											<li class="ok">
												<div class="jf"><span class="icon iconfont icon-discount"></span>
													<p>会员折扣</p>
												</div>
												<div class="note">
													<h4>购买课程享受折扣</h4>
													<h5><i></i>已享受</h5>
												</div>
											</li>
											<li class="ok">
												<div class="yhj"><span class="icon iconfont icon-study"></span>
													<p>免费学习</p>
												</div>
												<div class="note" onclick="goStudy({$item['level_id']})">
													<h4>免费学习指定课程</h4>
													<h5><i></i>已享受</h5>
												</div>
											</li>
										</ul>
									</dd>
								</dl>
							</div>
						</li>
						{/loop}
					</ul>
					{else}
					<div class="empty-search pr">
						<div class="block">
							<i class="orders"></i>
							<p>没有找到符合条件的记录</p>
						</div>
					</div>
					{/if}
				</div>
				{elseif $op=='orderlist'}
					{if $list}
						<div class="listContent">
							<div class="header flex flex-vc">
								<div class="txt w-180">订单编号</div>
								<div class="txt w-180">购买详情</div>
								<div class="txt w-120">支付方式</div>
								<div class="txt w-120">实付金额</div>
								<div class="txt w-180">优惠金额</div>
								<div class="txt w-180">下单时间<br>支付时间</div>
							</div>
							{loop $list $item}
							<ul class="flex flex-v mb20">
								<li class="items flex flex-vc">
									<p class="w-180 text-c">{$item['ordersn']}</p>
									<p class="w-180 text-c">{$item['level_name']} - {$item['viptime']}天</p>
									<p class="w-120 text-c">{$paytype[$item['paytype']]}</p>
									<p class="w-120 text-c">￥{$item['vipmoney']}</p>
									<p class="w-180 text-c">￥{$item['discount_money']}</p>
									<p class="w-180 text-c">
										{php echo date('Y-m-d H:i:s', $item['addtime']);}
										<br>
										{if $item['status']}
											{php echo date('Y-m-d H:i:s', $item['paytime']);}
										{else}
										{/if}
									</p>
								</li>
							</ul>
							{/loop}

							{if $pager}
							<div class="tfoot clearfix m-t-40">
								<div class="tfoot-page">
									<div class="pagination">
										 {$pager}
									</div>
								</div>
							</div>
							{/if}
						</div>
					{else}
						<div class="empty-search pr">
							<div class="block">
								<i class="orders"></i>
								<p>没有找到符合条件的记录</p>
							</div>
						</div>
					{/if}
					{if !empty($now_service)}
						<link rel="stylesheet" href="{MODULE_URL}static/webapp/default/css/qunService.css?v={$versions}">
						<div class="aui-dialog">
							<div class="listInformation background_default" style="background: rgb(245, 245, 245);"><span class="listInformationImg listInformationImg2"><img src="{$_W['attachurl']}{$now_service['avatar']}"></span>
								<div class="listInformationWord">
									<p class="t2 c8" style="width: 100%; text-align: left;">HI，我是 {$now_service['nickname']}</p>
									<p class="t1 c2" style="width: 100%; text-align: left;">邀请你加入 用户售后服务群</p>
								</div>
							</div>
							<div class="textCenter" style="padding-top: 0.3rem;">
								<p style="padding-top: 0.3rem;"><img src="{$_W['attachurl']}{$now_service['qrcode']}"
									 class="erweima"></p>
								<p class="t3 c3 padding3" style="line-height: 1.5;">
									微信扫一扫二维码<br>加我为微信好友，拉您入群
								</p>
							</div>
							<div class="listInformationBtn t2 c3 flagDiv"><span onclick="gohome()" class="listInformationBtnChild">好的，已加入</span>
								<span onclick="closeTip()" class="listInformationBtnChild c5">暂时不用，谢谢</span></div>
						</div>
						<div class="aui-mask"></div>
						<script type="text/javascript">
							function closeTip(){
								$(".aui-dialog").hide();
								$(".aui-mask").hide();
							}
							function gohome(){
								$.ajax({
									url:"/{$uniacid}/gohome.html",
									type:"post",
									data:{},
									success:function(data){
										closeTip();
									},
									error:function(e){
										alert("网络错误，请稍后重试");
										closeTip();
									}
								}); 
							}
						</script>
					{/if}
				{elseif $op=='cardlist'}
					{if $list}
						<div class="listContent">
							<div class="header flex flex-vc">
								<div class="txt w-180">服务卡密</div>
								<div class="txt w-80">VIP等级</div>
								<div class="txt w-80">服务卡时长</div>
								<div class="txt w-180">状态</div>
								<div class="txt w-150">使用时间</div>
								<div class="txt w-120">使用用户</div>
								<div class="txt w-200">使用订单号</div>
							</div>
							{loop $list $item}
							<ul class="flex flex-v mb20">
								<li class="items flex flex-vc">
									<p class="w-180 text-c">{$item['password']}</p>
									<p class="w-80 text-c">{$item['level_name']}</p>
									<p class="w-80 text-c">{$item['viptime']} 天</p>
									<p class="w-180 text-c">
										{$item['is_use_status']}
										{if $item['status']==0}
											<br/>
											{php echo date('Y-m-d H:i', $item['validity']);}前使用
										{/if}
									</p>
									<p class="w-150 text-c">
										{if $item['use_time']}
											{php echo date('Y-m-d H:i', $item['use_time']);}
										{/if}
									</p>
									<p class="w-120 text-c">
										{if $v['uid']}
											uid: {$v['uid']}
										{/if}
									</p>
									<p class="w-200 text-c">{$item['ordersn']}</p>
								</li>
							</ul>
							{/loop}

							{if $pager}
							<div class="tfoot clearfix m-t-40">
								<div class="tfoot-page">
									<div class="pagination">
										 {$pager}
									</div>
								</div>
							</div>
							{/if}
						</div>
					{else}
						<div class="empty-search pr">
							<div class="block">
								<i class="orders"></i>
								<p>没有找到符合条件的记录</p>
							</div>
						</div>
					{/if}
				{/if}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function goStudy(level_id){
		window.open("/{$uniacid}/vipLesson.html?level_id="+level_id ,"_blank");
	}
</script>

{php include $this->template($template.'/_footer')}