body {
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
	background: #f3f3f3;
}
strong{
	font-weight:bold;
}
em, i{
	font-family: italic;
}

.rich_primary {
	height: auto;
	margin: 0 auto;
	padding: 20px 15px 5px;
	background: #fff;
}

.rich_title {
	margin-bottom: 10px;
	line-height: 1.4;
	font-weight: 400;
	font-size: 24px;
}

.rich_mate {
	margin-bottom: 18px;
	line-height: 20px;
	overflow: hidden;
}

.rich_mate .href {
	color: #607fa6;
}

.rich_mate_text {
	margin-right: 8px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #8c8c8c;
	float: left;
}

.rich_content {
	height: auto;
	font-size: 16px;
	overflow-x: hidden;
	word-break: break-all;
}

.rich_content img {
	max-width: 100%;
}

.rich_content section a {
	color: inherit;
}

.rich_tool {
	height: auto;
	padding-top: 15px;
	line-height: 32px;
	overflow: hidden;
}

.rich_tool .link {
	color: #607fa6;
}

.rich_tool .right {
	float: right;
}

.rich_tool_like {
	height: 13px;
	width: 13px;
	margin-left: 8px;
	background: url('./like.png') 0 0 no-repeat;
	background-size: 100% auto;
	display: inline-block;
}

.rich_tool_likeon {
	background-position: 0 -18px;
}

.rich_tool_text {
	margin-right: 10px;
	font-size: 16px;
	color: #8c8c8c;
	text-decoration: none;
	float: left;
}

.lesson_article_common{
	width: 45%;
	font-size: 13px;
	color: #8c8c8c;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
}
.lesson_prev_article {
	float: left;
}

.lesson_next_article {
	float: right;
	text-align: right;
}

.rich_sift {
	background: #eee;
	padding: 30px 15px 0px;
	border-top: 1px solid #e4e4e4;
	max-width: 700px;
	margin: auto;
}

.rich_sift fieldset {
	height: 0px;
	border: 0px;
	border-top: 1px dotted #ccc;
	text-align: center;
}

.rich_sift legend {
	padding: 0px 10px;
	color: #999;
}

.rich_sift_goods {
	min-height: 10px;
	background: #fff;
	margin-top: 12px;
	padding: 6px;
	position: relative;
}

.rich_sift_goods img {
	width: 100%;
	display: block;
}

.rich_sift_goods .dots {
	height: 12px;
	width: 100%;
	position: absolute;
	bottom: 14px;
	left: 0;
	text-align: center;
}

.rich_sift_goods .dots a {
	height: 12px;
	width: 12px;
	background: rgba(0,0,0,0.3);
	display: inline-block;
	border-radius: 12px;
}

.rich_sift_goods .dots .on {
	background: rgba(0,0,0,0.5);
}

.rich_sift_text {
	height: 60px;
	line-height: 50px;
	font-size: 16px;
	color: #607fa6;
	text-align: center;
}

.rich_sift_text a {
	color: #607fa6;
	text-decoration: none;
} 

/* 文章列表 */
.article_list {
	margin-top: 10px;
	background-color: #FFFFFF;
}

.article_list .thumb{
	width: 18%;
}

.article_list .thumb img{
	width: 100%;
	vertical-align: text-top;
}

.article_list li {
	padding: 3px 10px;
	border-bottom: 1px #EEE solid;
}

.article_list li a {
	width: 76%;
    display: block;
    height: 60px;
    padding: 5px;
    color: #333;
    overflow: hidden;
    text-decoration: none !important;
    position: relative;
}

.article_list li a .title {
	font-size: 14px;
	height: 44px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    white-space: unset;
}

.article_list li a .createtime {
	font-size: 12px;
	color: #999;
	position: absolute;
	bottom: 0;
}